{% load static %}
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">  
                <title>비밀번호 변경</title>

                <!-- Google Font -->
                <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Black+Han+Sans|Cute+Font|Do+Hyeon|Dokdo|East+Sea+Dokdo|Gaegu|Gamja+Flower|Gothic+A1|Hi+Melody|Jua|Kirang+Haerang|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Nanum+Pen+Script|Noto+Sans+KR|Noto+Serif+KR|Poor+Story|Single+Day|Song+Myung|Stylish|Sunflower:300|Yeon+Sung&display=swap" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}"/>
       
        </head>
        <body>
            {% if errormessage %}
            <script type="text/javascript">
                    alert("{{errormessage}}");
            </script>
            {% endif %}

<script language="javascript">

function check(re, what, message) {
       if(re.test(what.value)) {
           return true;
       }
       alert(message);
       what.value = "";
       what.focus();
       return false;
   }
function formCheck(frm){
    var password = document.getElementById('password');
    var re_password = document.getElementById('re_password');
    var pwCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/; // 비밀번호 검사할 정규식

    if(frm.password.value == ""){
            alert("비밀번호를 입력해주세요");
            frm.password.focus();
            return false;
    }
    if(!(check(pwCheck, password, "비밀번호는 영문, 숫자, 특수문자를 이용해 8~15자로 만들어주세요."))){
        return false;
    }
    if(frm.re_password.value == ""){
        alert("비밀번호 확인을 입력해주세요");
        frm.re_password.focus();
        return false;
    }
    if (frm.re_password.value != frm.password.value){
        alert("비밀번호와 비밀번호 확인이 다릅니다.");
        frm.re_password.focus();
        return false;
    }
}
</script>
                <form action="{% url 'finalPw' %}" method="POST" class="login-form" onsubmit="return formCheck(this)">
                                {% csrf_token %}
                <h1 style="font-family: 'Do Hyeon';">비밀번호 변경</h1>
                <input type="hidden" name = "username" value="{{username}}">
                <input type="hidden" name = "phone_number" value="{{phone_number}}">
                <input type="hidden" name = "auth_number" value="{{auth_number}}">
    
                <div class = "txtb">
                        <input type="password" id="password" name="password" placeholder="변경할 비밀번호를 입력해주세요.">
                        <span></span>
                </div>
    
                <div class = "txtb">
                        <input type="password" id="re_password" name="re_password" placeholder="비밀번호를 한 번 더 입력해주세요.">
                        <span></span>
                </div>
                       
                <input type="submit" class="logbtn" value="비밀번호 변경">
                {% if error %}
                    <p style="color: red; font-family: 'Do Hyeon'; text-align: center;">{{error}}</p>
                {% endif %}  
                <div class="bottom-text">
                    <p>
                            <a href="{% url 'findId' %}">아이디 찾기</a>  |
                            <a href="{% url 'findPw' %}">비밀번호 찾기</a>
                    </p>
                    <p style="margin-top:10px; margin-bottom:10px;"> 회원이 아니신가요? <a href="{% url 'register' %}">회원가입</a></p>
                    <p><a href="{% url 'home' %}">돌아가기</a></p>
                       
                </div>
                </form>
<script type="text/javascript">
$(".txtb input").on("focus", function(){
        $(this).addClass("focus"); 
});

$(".txtb input").on("blur", function(){
        if($(this).val()=="")
        $(this).removeClass("focus"); 
});


</script>
        </body>
    </html>
    
    
    