{% extends 'base.html' %}

{% block contents %}
<div class="myPage">
<div class="container p-4">
<div class="row">
    <div class="card col-12 offset-md-1 col-md-3 p-3" style="width: 18rem;">
        <h2 class="text-primary pl-2 pt-2" style="font-family: 'Jua';">내 정보</h2>
        <hr class="mt-2">
        <!-- <img src="{{ fnsuser.userimg.url }}" class="card-img-top" alt="userimg" height="50px" style="border-radius: 30%;"> -->
        <img class="mx-auto" style="border-radius: 70px;" width="100px" height="100px" src="{{ fnsuser.userimg.url }}">
        <h5 class="card-title text-info text-center font-weight-bold mt-2">프로필 사진</h5>
        <div class="card-body" style="border-top: 1px solid silver;">
        <h5 class="card-title font-weight-bold">개인정보</h5>
        <p><span><strong>이름 </strong>: {{fnsuser.name}}</span></p>
            <p><span><strong>학교 </strong>: {{fnsuser.school}}</span></p>
            <p><span><strong>활동지역 </strong>: {{fnsuser.city}}</span></p>
            <p><span><strong>휴대폰 번호 </strong>: {{fnsuser.phone_number}}</span></p>
        </div>
    </div>

    <div class="ml-md-4 ml-0 mt-md-0 mt-3 col-md-7 col-12">
        <div class="row card p-4">
            <div class="col-12">
                <h5 class="card-title font-weight-bold text-info">기본정보</h5>
                <span class="mt-3">프로필사진, 이름, 이메일 등을 수정합니다.</span>
                <a role="button" href="{% url 'editAccount' %}" class="text-black font-weight-bold p-2 pl-3 pr-3 mb-3 text-decoration-none float-right" style="font-size:10px;
                font-family:'Nanum Gothic'; background-color: #DFDFDF; border-radius: 15px; color:black;">수정</a>
            </div>
        </div>

        <div class="row card p-4 mt-4">
            <div class="col-12">
                <h5 class="card-title font-weight-bold text-info">팀 정보</h5>
                {% if fnsuser.teamname %}
                <span class="mt-3">팀기록을 볼 수 있는 팀 페이지로 이동합니다.</span>
                <a role="button" href="{% url 'detail' fnsuser.teamname.id %}" class="text-black font-weight-bold p-2 px-3 mb-3 text-decoration-none float-right" style="font-size:10px;
                font-family:'Nanum Gothic'; background-color: #DFDFDF; border-radius: 15px; color:black;">이동</a>
                {% else %}
                <span class="mt-3">팀에 먼저 가입해주세요.</span>
                
                {% endif %}
            </div>
        </div>

        <div class="row card p-4 mt-4">
                <div class="col-12">
                    <h5 class="card-title font-weight-bold text-info">개인 기록</h5>
                    <table class="table table-borderless">
                            <thead>
                              <tr class="row">
                                <th scope="col" class="col-4">경기수</th>
                                <th scope="col" class="col-4">득점</th>
                                <th scope="col" class="col-4">득점률</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="row">
                                <td class="pl-3 col-4">{{fnsuser.matchcount}}</td>
                                <td class="col-4">{{fnsuser.score}}</td>
                                <td class="col-4">{{fnsuser.goalAverage}}</td>
                              </tr>
                              </tbody>
                            </table>
                </div>
            </div>
    
    </div>

</div>
</div>
</div>
{% endblock %}