{% extends 'base.html' %}

{% load static %}
{% load counting %}

{% block contents %}

<link rel="stylesheet" href="{% static 'css/match2.css' %}">
<style>
    .nav-justified {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        font-size: 0.75rem;
        color: #8c8c8c;
        background: #e1e1e1;
        border-radius: 2px;
    }
    .nav-justified > .item {
        position: relative;
        box-sizing: content-box;
        padding: 0.7rem 0.3rem;
    }
    .nav-justified > .item.active {
        color: #131313;
    }
    .sec.match .move_date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        font-weight: bold;
        font-size: 0.75rem;
        color: #000;
        border-bottom: solid 1px #eee;
    }

    .sec.match .move_date .btn {
        padding: 0;
        padding-left: 0.5rem;
        color: #28AAE3;
    }

    .sec.match .move_date .date.active,
    .sec.match .math_list .btn {
        padding: 0.1rem 0.3rem;
        color: #FFFFFF;
        background-color: #28AAE3;
        border-radius: 2px;
    }

    .sec.match .math_list .btn {
        padding: 0;
        margin-bottom: 0.2rem;
        width: 3.5625rem;
        font-size: 0.675rem !important;
    }

    .sec.match .math_list .btn.danger {
        background-color: #D5135A;
    }

    .sec.match .math_list .btn.end {
        color: #DADADA;
        background-color: #8C8C8C;
    }

    .sec.match .math_list .head .list {
        font-size: 0.6875rem;
        border-bottom: solid 1px #8c8c8c;
    }

    .sec.match .math_list .head .btn {
        background-color: #131313;
    }

    .sec.match .math_list .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.65rem 0;
        padding-left: 0.25rem;
        text-align: center;
        color: #8C8C8C;
        font-size: 0.625rem;
        border-bottom: solid 1px #E1E1E1;
        box-sizing: border-box;
    }

    .sec.match .math_list .list .group.first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        color: #000;
    }

    .sec.match .math_list .time {
        margin-right: 1.5rem;
        font-weight: bold;
        font-size: 14px;
    }

    .sec.match .math_list .point,
    .sec.match .math_list .btn {
        font-weight: 500;
        font-size: 0.75rem;
    }

    .dateTxt{
        font-family: 'Noto Sans KR';
        font-size: 0.8rem;
        font-weight: bold;
        padding:3px;
        text-align: center;
        
    }
    .dateRow{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    
    .pc{
        display: block;
    }
    
    .mobile{
        display: none;
    }

    .marginForNav{
        margin-top: 80px;
    }
    
      @media all and (max-device-width : 720px) {
        .pc{
          display: none;
        }
        .mobile{
          display: block;
        }
        .marginForNav{
            margin-top: 60px;
        }
    }
    
</style>

{% if error %}
<script>
    alert("{{error}}");
</script>
{% endif %}



<div class="mobile">
    {% include 'navBar.html' %}
</div>

<span class="pc">
{% include 'pcNavBar.html' %}
</span>

<!--컨텐츠 영역-->
<div class="sec match personal" style="max-width: 720px; margin: 0 auto;">

    <!-- 양쪽정렬된 탭 메뉴 -->
    <ul class="nav-justified marginForNav">
        <li class="item active">
            <p class="txt">
                <a href = "{% url 'personal' %}" style="text-decoration: none; color: #131313;">
                    개인 매칭
                </a>
            </p>
        </li>
        <li class="item">
            <p class="txt">
                <a href = "{% url 'teamMatching' %}" style="text-decoration: none; color:#8c8c8c;">
                    팀 매칭
                </a>
            </p>
        </li>
        <li class="item">
            <p class="txt">
                <a href = "{% url 'recruiting' %}" style="text-decoration: none; color:#8c8c8c;">
                    용병 매칭
                </a>
            </p>
        </li>
        <li class="item">
            <p class="txt">
                <a href = "{% url 'league' %}" style="text-decoration: none; color:#8c8c8c;">
                    풋살데이
                </a>
            </p>
        </li>
    </ul>
<script type="text/javascript">
    // 홈화면 오늘의 경기 달력 만드는 코드 
    
  var standard = new Date(); // 오늘 날짜//지신의 컴퓨터를 기준으로
  //standard 에 Date객체를 넣어줌 //ex)5일  
  if ("{{day}}"){
     standard = new Date(standard.getFullYear(), "{{month}}", "{{day}}");
    }

  function prevWeek() {
    standard = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
    getDate = document.getElementById('getDate');
    month = standard.getMonth();
    date = standard.getDate();
    document.getElementById('month').value = month;
    document.getElementById('day').value = date;
    getDate.submit();
  }

  function nextWeek() {
        standard = new Date(standard.getFullYear(), standard.getMonth(), standard.getDate() + 7);
        getDate = document.getElementById('getDate');
        month = standard.getMonth();
        date = standard.getDate();
        document.getElementById('month').value = month;
        document.getElementById('day').value = date;
        getDate.submit();
    //buildCalendar(); // 다음 달
  }

  function buildCalendar() {// 현재 달력
    var nMonth = new Date(standard.getFullYear(), standard.getMonth(), 1);  // 이번 달의 첫째 날
    var lastDate = new Date(standard.getFullYear(), standard.getMonth()+1, 0); // 이번 달의 마지막 날
    var tblCalendar = document.getElementById("chooseDate");     // 테이블 달력을 만들 테이블
    var tblCalendarYM = document.getElementById("calendarYM");    // yyyy년 m월 출력할 곳
    var nowDate = standard.getDate();
    var nowMonth = standard.getMonth();
    //tblCalendarYM.innerHTML = today.getFullYear() + "년 " + (today.getMonth() + 1) + "월";  // yyyy년 m월 출력
    // 기존 테이블에 뿌려진 줄, 칸 삭제
  
    while (tblCalendar.rows.length > 0) {
      tblCalendar.deleteRow(tblCalendar.rows.length - 1);
    }
    var row = null;
    row = tblCalendar.insertRow();
    row.className = "dateRow";
    var cnt = 0;
    // 1일이 시작되는 칸을 맞추어 줌
    /*
    for (i=0; i<nMonth.getDay(); i++) {
      cell = row.insertCell();
      cnt = cnt + 1;
    }*/
    
    for (i=1; i<=7; i++) { 
        cell = row.insertCell();
        var code = "<a onclick = 'personalDay("+nowMonth+","+nowDate+");' style = text-decoration:none; color:black;>" + nowDate + "</a>"

        cell.innerHTML = code;
        cell.className ="dateTxt";

        var thisDate = new Date();
        if(i == 1){
            cell.bgColor = "#28AAE3";
            cell.style.color = "white";
        }
        if (nowDate == lastDate.getDate()){
            nowDate = 1;
            nowMonth += 1;
        }
        else{
            nowDate += 1
        }
    }
  }
  function personalDay(month, day){
        getDate = document.getElementById('getDate');
        document.getElementById('month').value = month;
        document.getElementById('day').value = day;
        getDate.submit();
        // url.replace('4', String(month));
        // url.replace('12', String(day));
        // alert(url);
        // document.location.href = url;
        // var message = "";
        // $.ajax({
        //     url: url,
        //     dataType:'json',
        //     type:'GET',
        //     async:false,
        //     data:{'month':month, 'day':day},
        //     success:function(data){
        //             message = "중복된 아이디가 있습니다.";
        //             alert(message);
                    
                    
        //     }
        // });
      
  }
</script>
    <!-- 날짜이동 -->
<form action="{% url 'personalDay' %}" type = "GET" id = "getDate">
    <input type="hidden" name = "month" id = "month">
    <input type="hidden" name = "day" id = "day">
</form>
<input type="hidden" id="Url" data-url="{% url 'personalDay' %}" />

<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <button type="button" class="btn move" style="margin-left:0; width: 10%; padding-left: 0;" onclick="prevWeek()">
        <i class="fas fa-long-arrow-alt-left" style="color:#28AAE3;"></i>
    </button>
    <table id="chooseDate" boarder="3" text-align="center" style="padding:3em; width: 80%;">
        
    </table>
    <button type="button" class="btn move" style="width: 10%; padding-right: 0;" onclick="nextWeek()">
        <i class="fas fa-long-arrow-alt-right" style="color:#28AAE3;"></i>
    </button>
</div>



    <!-- 매치 리스트 -->
    <div class="math_list">
        <div class="head">
            <div class="list">
                <div class="group first">
                    <p>{{personal.count}}개의 매치</p>
                </div>
                <div class="group">
                    <button type="button" class="btn">
                        <a href = "{% url 'personalNew' %}" style="text-decoration: none; color:white;">글쓰기</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="cont">
        {% if personal %}
            {% if personalList %}
                {% for personalMatching in personalList %}
                <a href="{% url 'personalDetail' personalMatching.id %}" style="text-decoration: none; color: black;">
                    <div class="list">
                        <div class="group first">
                            {% autoescape on %}
                            <p class="time">{{personalMatching.time_from|date:"H:i"}}</p>
                            {% endautoescape %}
                            <div>
                                <p class="point">{{personalMatching.location}}</p>
                                <p>실력: {{personalMatching.rank}}</p>
                            </div>
                        </div>
                        <div class="group">
                            {% if personalMatching.total_attendance == personalMatching.number %}
                            <button type="button" class="btn end">마감</button>
                            {% elif personalMatching.time_from|timeuntil <= '1시간' %}
                            <button type="button" class="btn end">마감</button>
                            {% elif personalMatching.time_from|timeuntil <= '23시간' %}
                            <button type="button" class="btn danger">마감임박</button>
                            {% elif personalMatching.number|subtract:personalMatching.total_attendance <= 2 %}
                            <button type="button" class="btn danger">마감임박</button>
                            {% else %}
                            <button type="button" class="btn">자세히보기</button>
                            {% if personalMatching.time_from|timeuntil <= '1시간' %}
                            <button type="button" class="btn end">마감</button>
                            {% elif personalMatching.time_from|timeuntil <= '23시간' %}
                            <button type="button" class="btn danger">마감임박</button>
                            {% endif %}
                            {% endif %}
                            <p class="txt">{{personalMatching.total_attendance}}/{{personalMatching.number}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                {% for personalMatching in personalList %}
                
                <a href="{% url 'personalDetail' personalMatching.id %}" style="text-decoration: none; color: black;">
                <div class="list">
                    <div class="group first">
                        {% autoescape on %}
                        <p class="time">{{personalMatching.time_from|date:"H:i"}}</p>
                        {% endautoescape %}
                        <div>
                            <p class="point">{{personalMatching.location}}</p>
                            <p>실력: {{personalMatching.rank}}</p>
                        </div>
                    </div>
                    <div class="group">
                        {% if personalMatching.total_attendance == personalMatching.number %}
                        <button type="button" class="btn end">마감</button>
                        {% elif personalMatching.time_from|timeuntil <= '59분' %}
                        <button type="button" class="btn end">마감</button>
                        {% elif personalMatching.time_from|timeuntil <= '23시간' %}
                        <button type="button" class="btn danger">마감임박</button>
                        {% elif personalMatching.number|subtract:personalMatching.total_attendance <= 2 %}
                        <button type="button" class="btn danger">마감임박</button>
                        {% else %}
                        <button type="button" class="btn">자세히보기</button>
                        {% endif %}
                        <p class="txt">{{personalMatching.total_attendance}}/{{personalMatching.number}}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="list">
                <p>매칭이 없습니다.</p>
            </div>
        {% endif %}

            <!-- Pagination -->
            <nav aria-label="Page navigation example" class="mt-2">
                <ul class="pagination justify-content-center">
                {% if personalList.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">처음으로</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{personalList.previous_page_number}}" tabindex="-1" aria-disabled="true">{{personalList.previous_page_number}}</a>
                </li>
                {% endif %}

                <li class="page-item disabled"><a class="page-link" href="#">{{personalList.number}}</a></li>
                {% if personalList.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{personalList.next_page_number}}">{{personalList.next_page_number}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{personalList.paginator.num_pages}}">마지막으로</a>
                </li>
                {% endif %}
                </ul>
            </nav>

        </div>
    </div>

</div>
<!--컨텐츠 영역-->


<footer class="mobile">
    {% include 'playFooter.html' %}
  </footer>
{% endblock %}