{% extends 'base.html' %}


{% block contents %}
{% if message %}
<script type="text/javascript">
alert("{{ message }}");
</script>
{% endif %}


{% if error %}
<script type="text/javascript">
alert("{{ error }}");
</script>
{% endif %}
{% load staticfiles %}
<div class="league">
  <div class="container">
    <div class="row align-items-center justify-content-center mt-5" style="height:100%;">
      <img src="{% static 'onlyLogo.png' %}" alt="logo" class="src mr-4" width="45px" style="vertical-align: middle;">
      <span class="align-middle mt-2" style="font-family: 'Do Hyeon'; font-size: 45px; color:blanchedalmond;">남서울 풋살데이</span>
    </div>
    <div class="row align-items-center">
      <p class="text-center col-12 float-center text-stroke" style="font-weight: bold; font-family: 'Noto Sans KR'; color:white; font-size: 20px;">매주 수요일 5시 남서울대 다목적구장에서 풋살 밀어내기가 진행됩니다.</p>  
    </div>
  </div>
</div>

<div class="between">
  <div class="container">
    <div class="row">
      <span class="col-md-6 col-12 text-center">Play Football Make Peace</span>
      <span class="col-md-6 col-12 text-center">풋볼러버 > 밀어내기 > 자세히 보기</span>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4 mb-4">
    <div class="row border rounded overflow-hidden shadow-sm p-4">
        <div class="col-md-7 col-12">
          <table class="table">
              <thead>
                <tr class="row">
                  <th colspan="2" class="col-12">
                      <strong class="d-inline-block mb-2 text-info">남서울 풋살데이</strong>
                      <h1 style="margin-top: 0.5rem"><strong>{{league.title}}</strong></h1>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="row">
                  <td colspan="2" class = "col-12">
                    <h2 class="bg-info" style="text-align:center; padding:10px; font-family: 'Nanum Gothic'; font-weight:bold;">모집정보</h2>
                  </td>
                </tr>
                <tr class="row">
                  <th scope="row" class="col-4">시간</th>
                  <td style="text-align: left;" class="col-8">
                    {% autoescape on %}
                      {{league.time_from|date:"Y년 m월 d일 H:i"}}      -
                  {{league.time_to|date:"H:i"}}</td>
                  {% endautoescape %}
                </tr>
                <tr style="text-align: left;" class="row">
                  <th scope="row" class="col-4">장소</th>
                  <td colspan="3" class="col-8" style="text-align: left;">
                      <span>{{league.location}}</span>
                  </td>
                </tr>
                <tr class="row">
                    <td class="col-12">
                        <strong class="d-inline-block mb-2">내용</strong>
                        <p class="ml-0 pl-0 pt-2" style="border-top: 1px solid rgb(214, 214, 214);">{{league.content}}</p>
                    </td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <div class="col-md-5 col-12 ml-0 personalDetail">
              <table class="table">
                <thead>
                  <tr class="row">
                    <th class="col-12">
                        <strong class="d-inline-block mb-2 text-info">참가 신청하기</strong>
                        <div>
                            {% if is_personal %}
                            <a href="{% url 'personal_cancel' league.id %}">
                            <button type="button" class="btn btn-info">개인참가취소</button>
                            </a>
                            {% else %}
                            <a href="{% url 'personal_apply' league.id %}">
                            <button type="button" class="btn btn-info">개인참가신청</button>
                            </a>
                            {% endif %}
                            {% if is_team %}
                            <a href="{% url 'team_cancel' league.id %}">
                            <button type="button" class="btn btn-info">팀참가취소</button>
                            </a>
                            {% else %}
                            <a href="{% url 'team_apply' league.id %}">
                            <button type="button" class="btn btn-info">팀참가신청</button>
                            </a>
                            {% endif %}
                        </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="col-12">
                            <strong class="d-inline-block mb-2 text-info">참가팀</strong><br>
                            {% if attended_teams %}
                            {% for team in attended_teams %}
                            <button class="btn btn-dark"><a class="text-decoration-none text-white" href="{% url 'detail' team.id %}">{{team.team}}</a></button>
                            {% endfor %}
                           {% else %}
                           아직 참가신청한 팀이 없습니다.
                           {% endif %}
                        </td>
                    </tr>
                    <tr class="row">
                       <td class="col-12">
                          <strong class="d-inline-block mb-2 text-info">참가인원({{ attended_players.count }}명)</strong><br>
                            {% if attended_players %}
                            {% for player in attended_players %}
                            <button class="btn btn-dark"><a class="text-decoration-none text-white" href="{% url 'myPage' player.player.id %}">{{player.player.name}}</a></button>
                            {% endfor %}
                          {% else %}
                           아직 참가신청한 인원이 없습니다.
                          {% endif %}
                       </td>
                   </tr>
                    
                </tbody>
                </table>
                <hr>
                <div class="align-items-end">
                  <a href="{% url 'league_editForm' league.id %}"><button onclick="check()" type="button" class="btn btn-info col-3">수정</button></a>
                  <a href="{% url 'league_delete' league.id %}"><button onclick="return deletePC()" type="button" class="btn btn-info col-3">삭제</button></a>
                  <a href="{% url 'league' %}"><button type="button" class="btn btn-info col-4">목록으로</button></a>
                </div>
          </div>
        </div> 
<!-- 댓글 등록하기 -->
<hr>
<h4>댓글 {{league.total_comment}}개</h4>
<div class="container" style="margin:0;">
  <div class="row">
  {% if commenterror %}
    <ul>
    {% for error in commenterror %}
      <li><div class="alert alert-primary">{{ error }}</div></li>
    {% endfor %}
    </ul>
  {% endif %}
    <div class="col-1">
      <img style="border-radius: 70px;" width="40px" height="40px" src="{{ fnsuser.userimg.url }}">
    </div>
    <div class="d-block d-lg-none d-md-none" style="margin-left: 30px; padding-top: 8px;">
      <span><strong>{{fnsuser.name}}</strong></span>
    </div>
    <div class="col-lg-9 col-sm-12">
    <form method="POST" action="{% url 'lgcomment_write' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="league_id" value="{{ league.id }}">
      <div class="form-group">
        <textarea class="form-control" name="content" rows="1" placeholder="댓글을 입력하세요"></textarea>
      </div>
    </div>
      <div class="col-lg-2 col-sm-12 col-md-12">
        <div class="form-group float-right">
          <button type="submit" class="btn btn-outline-primary">등록</button>
          <button type="reset" style="margin-right: 5px;" class="btn btn-outline-primary">취소</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr style="margin-top:0;">

<!-- 댓글 목록 -->
<div class="container">
  {% for comment in commentList %}
  <!-- 댓글 대댓글 전체 래핑 -->
  <div class="commentWrapper">
    <!-- 댓글 래퍼 -->
    <div class="wrapper">
      <!-- 상세 댓글 -->
      <div class="row detail">
        <div class="col-sm-1 col-2">
          <a href="{% url 'myPage' comment.user.id %}">
          <img class="float-right" style="margin-left:10px; border-radius: 70px;" width="35px" height="35px" src="{{ comment.user.userimg.url }}">
          </a>
        </div>
        <div id = "{{comment.id}}" class="col-sm-10 col-8">
          <h6 class="media-heading user_name">
          <strong>{{ comment.user }}</strong> 
          | {{comment.passedTime}}
          </h6>
          <h6>{{ comment.content }}</h6>
        </div>
        <div class="btn-group col-md-1 col-2">
          <button type="button" class="btn btn-light dropdown-toggle" style="color:white !important; border:none !important; background-color: white !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-caret-square-down" style="color: black !important;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            {% if comment.user == fnsuser %}
              <button class="dropdown-item edit" type="button">수정</button>
              <a href ="{% url 'deleteLC' comment.id%}" onclick="return deletePC()"><button class="dropdown-item" type="button" id="deletePC">삭제</button></a>
            {% endif %}
            {% if comment.reply.all.count == 0 %}
            <button class="dropdown-item reply" type="button">답글 달기</button>
            {% else %}
            <button class="dropdown-item reply" type="button">답글 {{comment.reply.all.count}}개</button>
            {% endif %}
            <button class="dropdown-item allReplyCancel" type="button">답글 닫기</button>
          </div>
        </div>
      </div>
      <!-- 상세 댓글 끝 -->

      <!-- 댓글 수정 폼 -->
      <div class="row editForm">
        <div class="col-sm-1 col-2">
          <img class="float-right" style="border-radius: 70px;" width="40px" height="40px" src="{{ comment.user.userimg.url }}">
        </div>
        <div id = "{{comment.id}}" class="col-sm-9 col-10">
          <form method="post" action="{% url 'editLC' comment.id %}" enctype="multipart/form-data" class="col-lg-12 col-md-10">
          {% csrf_token %}
            <input type="hidden" name="league_id" value="{{ league.id }}">
            <div class="form-group row">
              <textarea class="form-control" name="content" rows="1" placeholder="댓글을 수정하세요"></textarea>
            </div>
          </div>
          <div class="col-sm-2 col-12">
            <div class="form-group float-right">
              <button type="submit" class="btn btn-outline-primary">수정</button>
              <button type="button" style="margin-right: 5px;" class="btn btn-outline-primary cancel">취소</button>
            </div>
          </form>
        </div> 
      </div>
      <!-- 댓글수정폼 끝 -->
    <hr style="margin-top:0.5rem;">
    </div>
    <!-- 댓글래퍼 끝 -->

  <!-- 답글 -->
  <div class="replyAll">
    <!-- 답글쓰기 -->
    <div class="row writeReply" id = write>
      <div class="col-md-1 col-2">
          <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
      </div>
      <div class="col-1">
        <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ fnsuser.userimg.url }}">
      </div>
      <div class="col-8" style="margin-left:0; padding-left:0; margin-right: 0; padding-right: 0;">
        <form method="post" action="{% url 'leagueReply_write' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="league_id" value="{{ league.id }}">
          <input type="hidden" name="comment_id" value="{{ comment.id }}">
          <div class="form-group col-12">
            <textarea class="form-control" name="content" rows="1" placeholder="답글을 입력하세요"></textarea>
          </div>
      </div>
        
      <div class="form-group col-md-2 col-12">
        <button type="reset" class="float-right btn btn-outline-primary">취소</button>    
        <button type="submit" style="margin-right: 5px;" class="btn btn-outline-primary float-right">등록</button>
      </div>
        </form>
    </div>
    <hr style="margin-top: 0;">
    <!-- 답글쓰기 끝 -->

    <!-- 답글 목록 -->
    {% for reply in comment.reply.all %}
    
    <div class="replyWrapper" id = replyWrapper>
    <!-- replyDetail -->
      <div class="row replyDetail">
        <div class="col-md-1 col-2">
            <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
        </div>
        <div class="col-1">
            <a href="{% url 'myPage' reply.user.id %}">
              <img class="float-right" style="border-radius: 70px;" width="40px" height="40px" src="{{ reply.user.userimg.url }}">
            </a>
        </div>
        <div class="col-md-9 col-7">
          <h6 class="media-heading user_name">
          <strong>{{ reply.user }}</strong> 
          | {{reply.passedTime}}
          </h6>
          <h6>: {{ reply.content }}</h6>
        </div>
        {% if reply.user == fnsuser %}
        <div class="btn-group col-1">
          <button type="button" class="btn btn-light dropdown-toggle" style="color:white !important; border:none !important; background-color: white !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-caret-square-down" style="color: black !important;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item replyEdit" type="button">수정</button>
            <a href ="{% url 'deleteLeagueReply' reply.id%}" onclick="return deletePC()"><button class="dropdown-item" type="button" id="deletePC">삭제</button></a>
          </div>
        </div>
        {% endif %}
      </div>
      
      <!-- replyDetail 끝 -->

      <!-- replyEditForm -->
      <div class="row replyEditForm">
        <div class="col-md-1 col-2">
            <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
        </div>
        <div class="col-1">
          <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ reply.user.userimg.url }}">
        </div>
        <div class="col-8" style="margin-left:0; padding-left:0; margin-right: 0; padding-right: 0;">
          <form method="post" action="{% url 'editLeagueReply' reply.id %}" enctype="multipart/form-data">
          {% csrf_token %}
            <input type="hidden" name="league_id" value="{{ league.id }}">
              
            <div class="form-group col-12">
              <textarea class="form-control" name="content" rows="1" placeholder="답글을 수정하세요"></textarea>
            </div>
        </div>
        <div class="col-md-2 col-12 ">
          <div class="form-group float-right">
            <button type="submit" class="btn btn-outline-primary">수정</button>
            <button type="reset"class="btn btn-outline-primary">취소</button>
          </div>
          </form>
        </div>  
      </div>
      <!-- replyEditForm 끝 -->
     
    </div>
    <hr>
    {% endfor %}
    <!-- 답글 래퍼 끝 -->
    <!-- 답글 목록 끝 -->
  </div>
  
</div>
<!-- commentWrapper 끝 -->

    <!--답글 끝  -->
  {% endfor %}
</div>
 <!-- 댓글 페이지네이션 -->
 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if commentList.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">처음으로</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{commentList.previous_page_number}}" tabindex="-1" aria-disabled="true">{{commentList.previous_page_number}}</a>
      </li>
      {% endif %}
      
      <li class="page-item disabled"><a class="page-link" href="#">{{commentList.number}}</a></li>
      {% if commentList.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{commentList.next_page_number}}">{{commentList.next_page_number}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{commentList.paginator.num_pages}}">마지막으로</a>
      </li>
      {% endif %}
    </ul>
  </nav>
    <!-- 댓글 페이지네이션 끝 -->
      
</div>
<script type="text/javascript">
  function deletePC(){
    var returnValue = confirm('삭제하시겠습니까?');
    return returnValue;
  }
  
  $('.edit').click(function(){
    $(this).parent().parent().parent().parent().addClass("editToggle");
  })
  
  $('.cancel').click(function(){
    $(this).parent().parent().parent().parent().removeClass("editToggle");
  })
  
  $('.replyEdit').click(function(){
    $(this).parent().parent().parent().parent().addClass("replyEditToggle");
  })
  
  $('.replyCancel').click(function(){
    $(this).parent().parent().parent().parent().removeClass("replyEditToggle");
  })
  
  $('.reply').click(function(){
    $(this).parent().parent().parent().parent().parent().children('.replyAll').addClass("replyToggle");
    $(this).parent().addClass("replyButton");
    // var id = $(this).parent().parent().parent().parent().parent().children('.replyAll').children('.replyWrapper').attr('id');
    // alert(id);
  })
  
  $('.allReplyCancel').click(function(){
    $(this).parent().parent().parent().parent().parent().children('.replyAll').removeClass("replyToggle");
    $(this).parent().removeClass("replyButton");
  })
  </script>


{% endblock %}