{% extends 'base.html' %}
{% block contents %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">남서울대 학우분들의 즐거운 풋살문화를 지원하겠습니다.</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>

  <div class="row mb-4">
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">개인매칭</strong>
          <h3 class="mb-0">운동할 사람 모집</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">축구를 하고 싶어도, 운동할 사람이 없다면 같이 할 친구를 모아보세요!</p>
          <a href="{% url 'personal' %}" class="stretched-link">보러 가기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">팀매칭</strong>
          <h3 class="mb-0">상대팀을 찾습니다.</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">용병모집</strong>
          <h3 class="mb-0">용병으로 한 게임!</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'recruiting' %}" class="stretched-link">보러 가기</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}