{% extends 'base.html' %}
{% block contents %}
{% load static %}

{% if errormessage %}
<script>
alert("{{errormessage}}");
</script>
{% endif %}
<style>
  .information{
    padding: 10px;
    /* background-image: linear-gradient(72deg, #1e3c72, #2a5298); */
  }

  .futsalDay{
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
  }

  .titleText{/*제목글자*/
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  .futsalDayEvent{/*풋살데이 한 줄 형*/
    display: flex;
    flex-direction: row;
  }

  .day{/*풋살데이 날짜*/
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 1rem;
  }

  .time{/*풋살데이 시간*/
    font-family: 'Noto Sans KR';
    font-size: 0.7rem;
  }

  .location{/*풋살데이 장소*/
    margin-top: 1rem;
    margin-bottom: 0px;
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    white-space: pre-line;
    word-break: keep-all;
    text-align: left;
  }

  .applyBtn{/*풋살데이 참가신청*/
    background-color: #F5921B;
    color: white;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    border: none;
    box-sizing: content-box;
    margin-top: 0.5rem;
  }

  .goDetail{/*자세히 보기 */
    font-family: 'Noto Sans KR';
    text-align: center;
    font-size: 1rem;
  }

  .eventPhoto{
    max-height: 250px;
  }

  .eventInformation{
    margin-top: 80px;
  }

  .rankingDesign{
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .playerOfWeek{
    width: 48%;
    margin-right: 4%;
    
  }

  .homeHomeHomeTeamRanking{
    width: 48%;
  }

  .rankingDetail{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }

  .mainText{/*랭킹 굵은 글씨*/
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    font-weight: bold;
  }

  .subText{/*랭킹 작은 글씨*/
    font-family: 'Noto Sans KR';
    color:rgb(253, 110, 134);
    font-size: 0.8rem;
    font-weight: bold;
  }

  .matchDesign{
    display: flex; 
    flex-direction: row;
  }
  .todayMatching{/*매칭일정*/
    max-width: 1024px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
   
  }

  .matchCalendar{
    width: 40%; 
    padding: 10px;
  }

  .matchSchedule{
    width: 60%; 
  }

  .scheduleMainText{/*스케쥴 개인매칭 css*/
    font-size: 1.2rem; 
    color: white; 
    margin: 0; 
    font-family: 'Noto Sans KR';
    font-weight: bold;
  }

  .scheduleSubText{/*스케쥴 장소 시간 css*/
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 1rem;
  }

  .individualFutsalDay{
    width: 31%; 
    margin-right: 3%;
  }
  .pc{
    display: block;
  }

  .mobile{
    display: none;
  }

  @media all and (max-device-width : 720px) {
    .pc{
      display: none;
    }
    .mobile{
      display: block;
    }

    .rankingDesign{
      max-width: 1024px;
      width: 100%;
      margin:0 auto;
      display: block;
      padding: 10px;
    }
    .playerOfWeek{
      width: 100%;
      display: block;
    } 

    .homeHomeHomeTeamRanking{
      margin-top: 1rem;
      width: 100%;
      display: block;
    }

    .futsalDay{
      padding-right: 5px;
    }
    
    .futsalDayEvent{/*풋살데이 한 줄 형*/
      display: block;
      
    }
    
    .individualFutsalDay{
      width: 100%; 
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .matchDesign{
      display: block;
    }

    .matchCalendar{
      width: 100%; 
    }

    .matchSchedule{
      width: 100%; 
      margin-top: 1rem;
    }

    .eventInformation{
      margin-top: 60px;
    }
}
</style>
{% load counting %}
<div class="mobile">
  {% include 'navBar.html' %}
</div>

<span class="pc">
{% include 'pcNavBar.html' %}
</span>



  
<!-- 사진 -->
<div class="eventInformation" style="z-index: 0;">
<div  style="z-index: 0;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol style="z-index: 0;"  class="carousel-indicators">
      <li style="z-index: 0;"  data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li style="z-index: 0;"  data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li style="z-index: 0;"  data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'futsalGround.jpg' %}" class="d-block w-100 eventPhoto" alt="futsalGround">
      </div>
      <div class="carousel-item">
        <img src="{% static 'soccerGround.png' %}" class="d-block w-100 eventPhoto" alt="soccerGround">
      </div>
      <div class="carousel-item">
        <img src="{% static 'futsalGround2.png' %}" class="d-block w-100 eventPhoto" alt="futsalGround2">
      </div>
    </div>
    <a style="z-index: 0;" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span style="z-index: 0;"  class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span style="z-index: 0;"  class="sr-only">Previous</span>
    </a>
    <a style="z-index: 1;" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span style="z-index: 1;" class="carousel-control-next-icon" aria-hidden="true"></span>
      <span style="z-index: 1;" class="sr-only">Next</span>
    </a>
  </div>  
</div>
<!-- 사진 끝 -->

<div style="background-image: linear-gradient(72deg, #ECE9E6, #FFFFFF);"> 
  <!-- 파랑배경 시작 -->
<div class="rankingDesign">
  <div class="playerOfWeek">
    <span class="titleText">금주의 선수</span>
    <div class="rankingDetail">
      <div>
        <span style="margin: 0; padding: 0;" class="mainText">최다 포인트 획득</span><br>
        <span class="subText" style="margin: 0; padding: 0;">10,000p</span>
        <i class="fas fa-caret-up" style="color:rgb(253, 110, 134);"></i>
      </div>
      <div style="padding-top: 5px;">
        <span class="mainText">양준석</span>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
      </div>
    </div>
    <div class="rankingDetail">
      <div>
        <span style="margin: 0; padding: 0;" class="mainText">최다 포인트 획득</span><br>
        <span class="subText" style="margin: 0; padding: 0;">10,000p</span>
        <i class="fas fa-caret-up" style="color:rgb(253, 110, 134);"></i>
      </div>
      <div style="padding-top: 5px;">
        <span class="mainText">양준석</span>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
      </div>
    </div>
    <div class="rankingDetail">
      <div>
        <span style="margin: 0; padding: 0;" class="mainText">최다 포인트 획득</span><br>
        <span class="subText" style="margin: 0; padding: 0;">10,000p</span>
        <i class="fas fa-caret-up" style="color:rgb(253, 110, 134);"></i>
      </div>
      <div style="padding-top: 5px;">
        <span class="mainText">양준석</span>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
      </div>
    </div>
  </div>

  <div class="homeHomeHomeTeamRanking">
    <span class="titleText">팀랭킹</span>
    <div class="rankingDetail">
      <div style="padding-top: 5px;">
        <div style="display: inline-block;">
          <span style="font-family: 'Noto Sans KR'; font-size: 1.5rem; margin-right: 1rem; margin-top: 5px;
          font-weight: bold;">1</span>
        </div>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
        <span class="mainText">양준석</span>
      </div>
      <div style="text-align: right;">
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue">10,000p</span>
        <i class="fas fa-caret-up" style="color:cornflowerblue;"></i><br>
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue;" class="mainText">10승 2무 3패 득실 40+</span>
      </div>
    </div>

    <div class="rankingDetail">
      <div style="padding-top: 5px;">
        <div style="display: inline-block;">
          <span style="font-family: 'Noto Sans KR'; font-size: 1.5rem; margin-right: 1rem; margin-top: 5px;
          font-weight: bold;">2</span>
        </div>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
        <span class="mainText">양준석</span>
      </div>
      <div style="text-align: right;">
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue">10,000p</span>
        <i class="fas fa-caret-up" style="color:cornflowerblue;"></i><br>
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue;" class="mainText">10승 2무 3패 득실 40+</span>
      </div>
    </div>

    <div class="rankingDetail">
      <div style="padding-top: 5px;">
        <div style="display: inline-block;">
          <span style="font-family: 'Noto Sans KR'; font-size: 1.5rem; margin-right: 1rem; margin-top: 5px;
          font-weight: bold;">3</span>
        </div>
        <img src="{% static 'account/logofile/onlyLogo.png' %}" width="35px" height="35px" style="border-radius: 70px;">
        <span class="mainText">양준석</span>
      </div>
      <div style="text-align: right;">
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue">10,000p</span>
        <i class="fas fa-caret-up" style="color:cornflowerblue;"></i><br>
        <span class="subText" style="margin: 0; padding: 0; color:cornflowerblue;" class="mainText">10승 2무 3패 득실 40+</span>
      </div>
    </div>
  </div>
</div>


<!-- 다가오는 풋살데이 시작 -->
<div class="information">
  <div class="futsalDay">
    <span class="titleText">다가오는 풋살데이</span><br>
    <div class="futsalDayEvent">
      <div class="individualFutsalDay">
        <img src="{% static 'futsalGround.jpg' %}" style="border-radius: 5px; width: 100%;">
        <div style="display:flex; flex-direction: row;">
          <div style="width: 70%;">
            <img src="{% static 'icon/playground.png' %}" width="10px" style="margin-top: 1rem;">
            <p class="location" style="display: inline-block;">남서울대학교 다목적구장</p><br>
            <span class="time">5월 4일 18:00 - 21:00</span>
          </div>
          <div style="width: 30%; text-align: right; padding-top: 10px;">
            <button class="applyBtn">
              <a href="{% url 'league' %}" style="text-decoration: none; color:white;">
                참가하기
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="individualFutsalDay">
        <img src="{% static 'futsalGround.jpg' %}" style="border-radius: 5px; width: 100%;">
        <div style="display:flex; flex-direction: row;">
          <div style="width: 70%;">
            <img src="{% static 'icon/playground.png' %}" width="10px" style="margin-top: 1rem;">
            <p class="location" style="display: inline-block;">남서울대학교 다목적구장</p><br>
            <span class="time">5월 4일 18:00 - 21:00</span>
          </div>
          <div style="width: 30%; text-align: right; padding-top: 10px;">
            <button class="applyBtn">
              <a href="{% url 'league' %}" style="text-decoration: none; color:white;">
                참가하기
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="individualFutsalDay" style="margin-right: 0;">
        <img src="{% static 'futsalGround.jpg' %}" style="border-radius: 5px; width: 100%;">
        <div style="display:flex; flex-direction: row;">
          <div style="width: 70%;">
            <img src="{% static 'icon/playground.png' %}" width="10px" style="margin-top: 1rem;">
            <p class="location" style="display: inline-block;">남서울대학교 다목적구장</p><br>
            <span class="time">5월 4일 18:00 - 21:00</span>
          </div>
          <div style="width: 30%; text-align: right; padding-top: 10px;">
            <button class="applyBtn">
              <a href="{% url 'league' %}" style="text-decoration: none; color:white;">
                참가하기
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 다가오는 풋살데이 끝-->

</div>
<!-- 파랑배경 끝 -->

  <!-- 일정 -->
<div style=" background-image: linear-gradient(72deg, #ED213A, #93291E);">
  <div class="todayMatching">
    <div class="title">
      <div class="d-flex justify-content-left">
        <img src="{% static 'account/logofile/onlyLogo.png' %}" alt="logo" class="src mt-2 mr-1" width="40px" height="40px">
        <h1 class="text-align-center titleText" style="color:white; border:none; margin-top: 0.7rem;">오늘의 경기</h1>
      </div>
    </div>
    <div class="matchDesign">
      <div class="matchCalendar">
        <table id="calendar" boarder="3" text-align="center" style="padding:4em;">
          <tr>
            <td>
              <!-- <label onclick="prevCalendar()"><</label> -->
            </td>
            <td colspan="5" text-align="center" id="calendarYM" style="font-family: 'Do Hyeon'; font-size: 1.5rem;">yyyy년 m월</td>
            <td>
              <!-- <label onclick="nextCalendar()">></label> -->
            </td>
          </tr>
          <tr style="border-bottom: 1px solid #23262E; border-top: 1px solid #23262E;">
            <td text-align="center">일</td>
            <td text-align="center">월</td>
            <td text-align="center">화</td>
            <td text-align="center">수</td>
            <td text-align="center">목</td>
            <td text-align="center">금</td>
            <td text-align="center">토</td>
          </tr>
        </table>
      </div>
      <div class="matchSchedule">
        <!--개인매칭 시작-->
        <div style = "width: 100%; background-color: dimgray; padding: 10px;">
          <p class="scheduleMainText">개인매칭</p>
        </div>
        {% if personalMatching %}
          {% for personal in personalMatching %}
            {% if forloop.counter < 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="width: 40%;" class="scheduleSubText">{{personal.location.playgroundName}}</div>
              {% autoescape on %}
              <div style="width: 30%; text-align: center;" class="scheduleSubText">{{personal.time_from|date:"H:i"}}-{{personal.time_to|date:"H:i"}}</div>
              {% endautoescape %}
              <div style="width: 30%; text-align: right;" class="scheduleSubText">
                <a href="{% url 'personalDetail' personal.id %}" style="text-decoration: none; color:gray;">자세히 보기</a>
              </div>
            </div>
            
            {% elif forloop.counter == 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="background-color: white; width: 100%;">
                <p style="text-align: center; margin: 0px;">
                  <a style="border:none; text-decoration: none; color:cornflowerblue; font-family: 'Noto Sans KR';" href="{% url 'personal' %}">오늘의 개인매칭 자세히 보기</a>
                </p>
              </div> 
            </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
        border-bottom: 1px solid black;">
          <div style="background-color: white; width: 100%;">
              <p style="padding:0; margin:0;">오늘은 경기가 없습니다.</p>
          </div>
        </div>
        {% endif %}
        <!--개인매칭 끝-->

        <!--팀매칭 시작-->
        <div style = "width: 100%; background-color: dimgray; padding: 10px;">
          <p class="scheduleMainText">팀매칭</p>
        </div>
        {% if teamMatching %}
          {% for team in teamMatching %}
            {% if forloop.counter < 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="width: 40%;" class="scheduleSubText">{{team.location}}</div>
              {% autoescape on %}
              <div style="width: 30%; text-align: center;" class="scheduleSubText">{{team.time_from|date:"H:i"}}-{{team.time_to|date:"H:i"}}</div>
              {% endautoescape %}
              <div style="width: 30%; text-align: right;" class="scheduleSubText">
                <a href="{% url 'teamMatchingDetail' team.id %}" style="text-decoration: none; color:gray;">자세히 보기</a>
              </div>
            </div>
            
            {% elif forloop.counter == 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="background-color: white; width: 100%;">
                <p style="text-align: center; margin: 0px;">
                  <a style="border:none; text-decoration: none; color:cornflowerblue; font-family: 'Noto Sans KR';" href="{% url 'teamMatching' %}">오늘의 팀매칭 자세히 보기</a>
                </p>
              </div> 
            </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
        border-bottom: 1px solid black;">
          <div style="background-color: white; width: 100%;">
              <p style="padding:0; margin:0;">오늘은 경기가 없습니다.</p>
          </div>
        </div>
        {% endif %}
        <!--팀매칭 끝-->

                
        <!--용병매칭 시작-->
        <div style = "width: 100%; background-color: dimgray; padding: 10px;">
          <p class="scheduleMainText">용병매칭</p>
        </div>
        {% if recruiting %}
          {% for recruit in recruiting %}
            {% if forloop.counter < 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="width: 40%;" class="scheduleSubText">{{recruit.location}}</div>
              {% autoescape on %}
              <div style="width: 30%; text-align: center;" class="scheduleSubText">{{recruit.time_from|date:"H:i"}}-{{recruit.time_to|date:"H:i"}}</div>
              {% endautoescape %}
              <div style="width: 30%; text-align: right;" class="scheduleSubText">
                <a href="{% url 'recruiting_detail' recruit.id %}" style="text-decoration: none; color:gray;">자세히 보기</a>
              </div>
            </div>
            
            {% elif forloop.counter == 3 %}
            <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
            border-bottom: 1px solid black;">
              <div style="background-color: white; width: 100%;">
                <p style="text-align: center; margin: 0px;">
                  <a style="border:none; text-decoration: none; color:cornflowerblue; font-family: 'Noto Sans KR';" href="{% url 'recruiting' %}">오늘의 용병매칭 자세히 보기</a>
                </p>
              </div> 
            </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <div style="background-color: white; display:flex; justify-content: space-between; padding: 10px;
        border-bottom: 1px solid black;">
          <div style="background-color: white; width: 100%;">
              <p style="padding:0; margin:0;">오늘은 경기가 없습니다.</p>
          </div>
        </div>
        {% endif %}
        <!--개인매칭 끝-->


      </div>
      <!--matchSchedule 끝-->
    </div>

  </div>
  <!--todayMatching 끝-->
</div>

<footer class="mobile">
  {% include 'stickyFooter.html' %}
</footer>
{% endblock %}