{% extends 'base.html' %}


{% block contents %}
<script type="text/javascript">
$(document).ready(function(event) {
        $(document).on('click', '#unlike', function(event) {
          event.preventDefault();
          var pk = $(this).attr('value');
          $.ajax({
            type: 'POST',
            url: '{% url "personal_attendance" %}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: 'json',
            success: function(response){ 
              $('#attendance_section').html(response['form']) 
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });
      });

  function check(){
    var userId = request.session.get('userId');
    var personalMatchingId = personalMatching.id;
    if (userId != personalMatchingId){
      alert("글을 작성한 사용자만 수정할 수 있습니다.");
      return false;
    }
  }
</script>
{% if error %}
<script type="text/javascript">
  var errormessage = "{{ error }}";
  alert(errormessage);
</script>
{% endif %}

{% if errormessage %}
<script type="text/javascript">
  var errormessage = "{{ errormessage }}";
  alert(errormessage);
</script>
{% endif %}

{% load staticfiles %}
<div class="personalMatching">
        <div class="container">
          <div class="row align-items-center justify-content-center mt-5" style="height:100%;">
            <img src="{% static 'onlyLogo.png' %}" alt="logo" class="src mr-4" width="45px" style="vertical-align: middle;">
            <span class="align-middle mt-2" style="font-family: 'Do Hyeon'; font-size: 45px; color:blanchedalmond;">개인매칭</span>
          </div>
          <div class="row align-items-center">
            <p class="text-center col-12 float-center text-stroke" style="font-family: 'Noto Sans KR'; color:white; font-size: 20px;">같이 축구하거나 풋살할 사람을 구합니다!</p>  
          </div>
        </div>
      </div>
      
      <div class="between">
        <div class="container">
          <div class="row">
            <span class="col-md-6 col-12 text-center">Play Football Make Peace</span>
            <span class="col-md-6 col-12 text-center">풋볼러버 > 개인매칭 > 자세히 보기</span>
          </div>
        </div>
      </div>
      <hr>


<div class="container mt-4 mb-4 pl-4 pr-4">
<div class="row border rounded overflow-hidden shadow-sm p-4">
  <div class="col-md-7 col-12">
    <table class="table">
        <thead>
          <tr class="row">
            <th colspan="2" class="col-12">
                <strong class="d-inline-block mb-2 text-primary">개인매칭[{{personalMatching.sport}}]</strong>
                <h1 style="margin-top: 0.5rem"><strong>{{personalMatching.title}}</strong></h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td colspan="2" class = "col-12">
              <h2 class="bg-info" style="text-align:center; padding:10px; font-family: 'Nanum Gothic'; font-weight:bold;">모집정보</h2>
            </td>
          </tr>
          <tr class="row">
              <th scope="row" class="col-4">주최자</th>
              <td style="text-align: left;" class="col-8">
              <a href="{% url 'myPage' personalMatching.user.id %}" class="text-decoration-none" 
              style="color: blue;"><b>{{personalMatching.user}}</b></a>    
              </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">시간</th>
            <td style="text-align: left;" class="col-8">
              {% autoescape on %}
                {{personalMatching.time_from|date:"Y년 m월 d일 H:i"}}      -
            {{personalMatching.time_to|date:"H:i"}}</td>
            {% endautoescape %}
          </tr>
          <tr style="text-align: left;" class="row">
            <th scope="row" class="col-4">장소</th>
            <td colspan="3" class="col-8" style="text-align: left;">
                <span>{{personalMatching.location}}</span>
            </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">모집인원</th>
            <td colspan="3" style="text-align: left;" class="col-8">
                <span>{{personalMatching.number}}명</span>
            </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">실력</th>
            <td colspan="3" style="text-align: left;" class="col-8">
              <span>{{personalMatching.rank}}</span>
            </td>
          </tr>
        
         
        </tbody>
      </table>
    </div>
    <div class="col-md-5 col-12 ml-0 personalDetail">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-12">
                  <strong class="d-inline-block mb-2 text-primary ml-3">참여인원</strong>
                  <div id="#attendance_section" style="display: flex; flex-direction: column; justify-content:center;">
                      <!-- <form action="{% url 'personal_attendance' %}" method="POST">
                        {% csrf_token %}
                        <button style="margin: 10px;" type="button" class="btn btn-outline-primary">참여인원: {{ total_attendance }}</button>
                        {% if is_liked %}
                        <button type = "submit" style="margin: 10px; margin-top: 20%;" class ="btn btn-primary" id = "attendance" 
                        name="personal_id" value="{{personalMathcing.id}}">참가 취소</button>
                        {% else %}
                        <button type = "submit" style="margin: 10px; margin-top: 20%;" class ="btn btn-primary" id = "attendance" 
                        name="personal_id" value="{{personalMathcing.id}}">참가하기</button>
                        {% endif %}
                        
                      </form> -->
                    {% include 'personal_attendance.html' %}
                  </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                   <strong class="d-inline-block mb-2 text-primary">참여인원</strong><br>
                   {% for person in attendance %}
                   <button class="btn btn-primary">
                     <a class="text-white text-decoration-none" href="{% url 'myPage' person.id %}">{{ person }}</a></button>
                   {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <strong class="d-inline-block mb-2 text-primary">내용</strong>
                    <p>{{personalMatching.content}}</p>
                </td>
            </tr>
          </tbody>
          </table>
          <hr>
          <div class="align-items-end">
            <a href="{% url 'personal_editForm' personalMatching.id %}"><button onclick="check()" type="button" class="btn btn-primary col-3">수정</button></a>
            <a href="{% url 'personal_delete' personalMatching.id %}"><button onclick="return deletePC()" type="button" class="btn btn-primary col-3">삭제</button></a>
            <a href="{% url 'personal' %}"><button type="button" class="btn btn-primary col-4">목록으로</button></a>
          </div>
    </div>
      
      
    </div>

    <script>
      // 댓글입력창 기능
      // 댓글 수정시 글에 맞게 높이 조정
      $(document).ready(function() {
        $('.commentBox').on( 'change keydown paste cut delete', 'textarea', function (e){
          $(this).css('height', 'auto' ); 
          $(this).height( this.scrollHeight );
        });

        // focus 시 버튼 파란색으로
        $('.commentBox').find('textarea').on('focus', function(e){
          $('#commentBtn').css("background-color", "#005CCF");
        });
        // blur시 높이 30px로
        $('.commentBox').on( 'blur', 'textarea', function (e){
          $(this).height('30px');
          $('#commentBtn').css("background-color", "gray");
        });

        $('.commentBox').find( 'textarea' ).keyup();

        //댓글수정창 기능
        // 높이 맞추기
        $('.commentEditBox').on( 'change keydown paste cut delete', 'textarea', function (e){
          $(this).css('height', 'auto' ); 
          $(this).height( this.scrollHeight );
        });
        // 버튼색 focus시 파란색으로 바꾸기
        $('.commentEditBox').find('textarea').on('focus', function(e){
          $('#commentEditBtn').css("background-color", "#005CCF");
        });
        // 버튼색 blur 시 회색으로
        $('.commentEditBox').on( 'blur', 'textarea', function (e){
          $(this).height('30px');
          $('#commentEditBtn').css("background-color", "gray");
        });

        $('.commentEditBox').find( 'textarea' ).keyup();

        
        
      });
    </script>
  <!-- 댓글 등록하기 -->
  <hr>
  <h4>댓글 {{personalMatching.total_comment}}개</h4>
    {% if commenterror %}
      <ul>
      {% for error in commenterror %}
        <li><div class="alert alert-primary">{{ error }}</div></li>
      {% endfor %}
      </ul>
    {% endif %}
      <div class="commentBox">
        <form method="post" action="{% url 'personalcm_write' %}" enctype="multipart/form-data">
        {% csrf_token %}
          <img class="commentImg" style= "border-radius: 70px;" width="35px" height="35px" src="{{ fnsuser.userimg.url }}">
          <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
          <textarea id= "cmContent" name="content" placeholder="댓글을 입력하세요"></textarea>
      </div>
      <div class="commentBtnWrapper">
        <button type="reset" style="margin-right: 5px; background-color: white; color: black;" class="commentBtn">취소</button>
        <button type="submit" class="commentBtn" id="commentBtn">댓글</button>
      </div>
        </form>
    
  <hr style="margin-top:0;">

  <!-- 댓글 목록 -->
  <div class="container">
    <script>
      var i = 0;
    </script>
    {% for comment in commentList %}
    <script>
      i += 1;
    </script>
    <!-- 댓글 대댓글 전체 래핑 -->
    <div class="commentWrapper">
      <!-- 댓글 래퍼 -->
      <div class="wrapper">
        <!-- 상세 댓글 -->
        <div class="detail">
          <div>
            <a href="{% url 'myPage' comment.user.id %}">
              <img class="float-right" style="margin-left:10px; border-radius: 70px;" width="35px" height="35px" src="{{ comment.user.userimg.url }}">
            </a>
          </div>
          <div id = "{{comment.id}}" class="comment">
            <h6 class="media-heading user_name">
              <strong class="commentName">{{ comment.user }}</strong> 
              <span class="commentTime">| {{comment.passedTime}}</span>
            </h6>
            <h5 style="display: block;" id = "{{comment.passedTime}}" class="commentContent">{{ comment.content }}</h5>
            <!-- {% if comment %}
            <script type = "text/javascript">
              var content = "{{comment.content}}";
              var comment = document.getElementById('{{comment.passedTime}}');
              var commentWidth = comment.scrollWidth;
              var commentBox = document.getElementById('{{comment.id}}');
              var boxWidth = (commentBox.clientWidth + 1);
              var contentArray = content.split("");
              if (commentWidth >= boxWidth){
                alert("commentWidth : "+ commentWidth + "\n boxWidth : "+ boxWidth + "길어요!!");
                comment.style.display = "none";
                var newText = document.createElement("h5");
                var j = 1;
                for(var i = 0; i < contentArray.length; i++){
                  var text = document.createTextNode(contentArray[i]);
                  
                  if(newText.scrollWidth <= (boxWidth-60)){
                    
                    newText.appendChild(text);
                    commentBox.appendChild(newText);
                  }
                  else{
                    newText.innerHTML += "<br>";
                    newText = document.createElement("span");

                    j += 1;
                    newText.appendChild(text);
                    commentBox.appendChild(newText);
                    
                  }
                }
                
              };
            </script>
            {% endif %} -->
          </div>
          <div class="commentDropDown">
            <button type="button" class="commentDropBtn"> 
            <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="cmDropDownContent" style="z-index: 100;">
              {% if comment.user == fnsuser %}
                <button class="dropdown-item edit" type="button">수정</button>
                <button class="dropdown-item" type="button" id="deletePC">
                <a href ="{% url 'deletePC' comment.id%}" onclick="return deletePC()"
                style="text-align: center; padding-top:5px; padding-bottom: 5px; background:none;">
                  삭제
                </a>
              </button>
              {% endif %}
              {% if comment.reply.all.count == 0 %}
              <button class="dropdown-item reply" type="button">답글 달기</button>
              {% else %}
              <button class="dropdown-item reply" type="button">답글 {{comment.reply.all.count}}개</button>
              {% endif %}
              <button class="dropdown-item allReplyCancel" type="button">답글 닫기</button>
            </div>
          </div>
        </div>
        <!-- 상세 댓글 끝 -->

        <!-- 댓글 수정 폼 -->
        <div class="editForm">
          <div class="commentEditBox">
            <form method="post" action="{% url 'editPC' comment.id %}" enctype="multipart/form-data">
            {% csrf_token %}
              <img class="commentImg" style= "border-radius: 70px;" width="35px" height="35px" src="{{ fnsuser.userimg.url }}">
              <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
              <textarea name="content" placeholder="댓글을 수정하세요"></textarea>
            <div class="commentBtnWrapper">
              <button type="reset" style="margin-right: 5px; background-color: white; color: black;" class="commentBtn cancel">취소</button>
              <button type="submit" class="commentBtn" id="commentEditBtn">수정</button>
            </div>
            </form>
          </div>
        </div>
        <!-- 댓글수정폼 끝 -->
      <hr style="margin-top:0.5rem;">
      </div>
      <!-- 댓글래퍼 끝 -->

    <!-- 답글 -->
    <div class="replyAll" id="test1">
      <!-- 답글쓰기 -->
      <div class="row writeReply" id = write>
        <div class="col-md-1 col-2">
            <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
        </div>
        <div class="col-1">
          <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ fnsuser.userimg.url }}">
        </div>
        <div class="col-8 mx-0 px-0">
          <form method="post" action="{% url 'personalReply_write' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <div class="form-group col-12">
              <textarea class="form-control" name="content" rows="1" placeholder="답글을 입력하세요"></textarea>
            </div>
        </div>
          
        <div class="form-group col-md-2 col-12">
          <button type="reset" class="float-right btn btn-outline-primary">취소</button>    
          <button type="submit" style="margin-right: 5px;" class="btn btn-outline-primary float-right">등록</button>
        </div>
          </form>
      </div>
      <hr style="margin-top: 0;">
      <!-- 답글쓰기 끝 -->

      <!-- 답글 목록 -->
      {% for reply in comment.reply.all %}
      
      <div class="replyWrapper" id = replyWrapper>
      <!-- replyDetail -->
        <div class="row replyDetail">
          <div class="col-md-1 col-3">
              <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
          </div>
          <div class="col-1">
              <a href="{% url 'myPage' reply.user.id %}">
                <img class="float-right" style="border-radius: 70px;" width="40px" height="40px" src="{{ reply.user.userimg.url }}">
              </a>
          </div>
          <div class="col-md-9 col-6">
            <h6 class="media-heading user_name">
            <strong>{{ reply.user }}</strong> 
            | {{reply.passedTime}}
            </h6>
            <h6>: {{ reply.content }}</h6>
          </div>
          {% if reply.user == fnsuser %}
          <div class="btn-group col-1">
            <button type="button" class="btn btn-light dropdown-toggle" style="color:white !important; border:none !important; background-color: white !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-caret-square-down" style="color: black !important;"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item replyEdit" type="button">수정</button>
              <a href ="{% url 'deletePersonalReply' reply.id%}" onclick="return deletePC()"><button class="dropdown-item" type="button" id="deletePC">삭제</button></a>
            </div>
          </div>
          {% endif %}
        </div>
        
        <!-- replyDetail 끝 -->

        <!-- replyEditForm -->
        <div class="row replyEditForm">
          <div class="col-md-1 col-2">
              <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
          </div>
          <div class="col-1">
            <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ reply.user.userimg.url }}">
          </div>
          <div class="col-8" style="margin-left:0; padding-left:0; margin-right: 0; padding-right: 0;">
            <form method="post" action="{% url 'editPersonalReply' reply.id %}" enctype="multipart/form-data">
            {% csrf_token %}
              <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
                
              <div class="form-group col-12">
                <textarea class="form-control" name="content" rows="1" placeholder="답글을 수정하세요"></textarea>
              </div>
          </div>
          <div class="col-md-2 col-12 ">
            <div class="form-group float-right">
              <button type="submit" class="btn btn-outline-primary">수정</button>
              <button type="reset"class="btn btn-outline-primary">취소</button>
            </div>
            </form>
          </div>  
        </div>
        <!-- replyEditForm 끝 -->
       
      </div>
      <hr>
      {% endfor %}
      <!-- 답글 래퍼 끝 -->
      <!-- 답글 목록 끝 -->
    </div>
    
  </div>
  <!-- commentWrapper 끝 -->

      <!--답글 끝  -->
    {% endfor %}
  </div>
  <!-- 댓글 끝 -->
  <!-- 댓글 페이지네이션 -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if commentList.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">처음으로</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{commentList.previous_page_number}}" tabindex="-1" aria-disabled="true">{{commentList.previous_page_number}}</a>
    </li>
    {% endif %}
    
    <li class="page-item disabled"><a class="page-link" href="#">{{commentList.number}}</a></li>
    {% if commentList.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{commentList.next_page_number}}">{{commentList.next_page_number}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{commentList.paginator.num_pages}}">마지막으로</a>
    </li>
    {% endif %}
  </ul>
</nav>
  <!-- 댓글 페이지네이션 끝 -->
    
</div>
<script type="text/javascript">
function deletePC(){
  var returnValue = confirm('삭제하시겠습니까?');
  return returnValue;
}

$('.edit').click(function(){
  $(this).parent().parent().parent().parent().addClass("editToggle");
})

$('.cancel').click(function(){
  $(this).parent().parent().parent().parent().parent().removeClass("editToggle");
})

$('.replyEdit').click(function(){
  $(this).parent().parent().parent().parent().addClass("replyEditToggle");
})

$('.replyCancel').click(function(){
  $(this).parent().parent().parent().parent().removeClass("replyEditToggle");
})

$('.reply').click(function(){
  $(this).parent().parent().parent().parent().parent().children('.replyAll').addClass("replyToggle");
  $(this).parent().addClass("replyButton");
  // var id = $(this).parent().parent().parent().parent().parent().children('.replyAll').children('.replyWrapper').attr('id');
  // alert(id);
})

$('.allReplyCancel').click(function(){
  $(this).parent().parent().parent().parent().parent().children('.replyAll').removeClass("replyToggle");
  $(this).parent().removeClass("replyButton");
})
</script>

{% endblock %}