{% extends 'base.html' %}

{% block contents %}

<script language="javascript">
        function formCheck(frm){
            var today = new Date()
            var year = today.getFullYear();
            var month = today.getMonth() +1;
            var date = today.getDate();
            var hour = today.getHours();
            var matchDay = frm.time_from.value;
            var matchYear = matchDay.substring(0,4);
            var matchMonth = matchDay.substring(5,7);
            var matchDate = matchDay.substring(8,10);
            var matchHour = matchDay.substring(11,13);
               if(frm.title.value == ""){
                   alert("제목을 입력해주세요");
                   frm.title.focus();
                   return false;
               }
               if(frm.location.value == "장소를 선택하세요."){
                   alert("장소를 선택해주세요");
                   frm.location.focus();
                   return false;
               }
               if(frm.time_from.value == ""){
                   alert("시작시간을 입력해주세요");
                   frm.time_from.focus();
                   return false;
               }
               if(Number(matchYear) < year){
                    alert("현재시간보다 이전 시간을 선택하실 수 없습니다.")
                    frm.time_from.focus();
                    return false;
                }
                else{
                    if(Number(matchMonth) < month){
                        alert("현재시간보다 이전 시간을 선택하실 수 없습니다.")
                        frm.time_from.focus();
                        return false;
                    }
                    else{ 
                        if(Number(matchDate) < date){
                            alert("현재시간보다 이전 시간을 선택하실 수 없습니다.")
                            frm.time_from.focus();
                            return false;
                        }
                        else if(Number(matchDate) == date){
                            if(Number(matchHour) <= hour){
                                alert("matchhour :" + matchHour + "hour :" + hour);
                                alert("현재시간보다 이전 시간을 선택하실 수 없습니다.")
                                frm.time_from.focus();
                                return false;
                            }
                        } 
                   }
                }
               if (frm.time_to.value == ""){
                   alert("종료시간을 입력해주세요");
                   frm.time_to.focus();
                   return false;
               }
               if (frm.number.value == ""){
                   alert("모집인원을 입력해주세요");
                   frm.number.focus();
                   return false;
               }
               if (frm.number.value <= 0){
                   alert("모집인원은 1명이상 선택해야 합니다.");
                   frm.number.focus();
                   return false;
               }
               if(frm.rank.value == "참가자들의 실력을 선택하세요."){
                   alert("참가자들의 실력을 선택해주세요.");
                   frm.rank.focus();
                   return false;
               }
               if(frm.content.value == ""){
                   alert("내용을 입력해주세요.");
                   frm.content.focus();
                   return false;
               }
        }
</script>
<script type="text/javascript">
    function begin(){
        document.getElementById('time_from').value = new Date().toISOString().substring(0,10);
        document.getElementById('time_to').value = new Date().toISOString().substring(0,14);
    }
    // window.onload = begin;
    $('#fromDate').datetimepicker({
  language : 'ko', // 화면에 출력될 언어를 한국어로 설정한다.
  pickTime : false, // 사용자로부터 시간 선택을 허용하려면 true를 설정하거나 pickTime 옵션을 생략한다.
  defalutDate : new Date() // 기본값으로 오늘 날짜를 입력한다. 기본값을 해제하려면 defaultDate 옵션을 생략한다.
});

$('#toDate').datetimepicker({
  language : 'ko',
  pickTime : true,
  defalutDate : new Date()
});
</script>

{% load staticfiles %}
<div class="personalMatching">
        <div class="container">
          <div class="row align-items-center justify-content-center mt-5" style="height:100%;">
            <img src="{% static 'onlyLogo.png' %}" alt="logo" class="src mr-4" width="45px" style="vertical-align: middle;">
            <span class="align-middle mt-2" style="font-family: 'Do Hyeon'; font-size: 45px; color:blanchedalmond;">개인매칭</span>
          </div>
          <div class="row align-items-center">
            <p class="text-center col-12 float-center text-stroke" style="font-family: 'Noto Sans KR'; color:white; font-size: 20px;">같이 축구하거나 풋살할 사람을 구합니다!</p>  
          </div>
        </div>
      </div>
      
      <div class="between">
        <div class="container">
          <div class="row">
            <span class="col-md-6 col-12 text-center">Play Football Make Peace</span>
            <span class="col-md-6 col-12 text-center">풋볼러버 > 개인매칭 > 글쓰기</span>
          </div>
        </div>
      </div>
      <hr>

<div class="container mt-4 mb-4">
<div style="border:1px solid lightgray; border-radius: 10px; padding:30px;">
    <form action="{% url 'personal_create' %}" onsubmit="return formCheck(this);" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label" for="title">제목</label>
            <div class="col-lg-11 col-sm-12">
            <input style="display:none" aria-hidden="true">
            <input type="password" style="display:none" aria-hidden="true">
            <input class="form-control" id="title" type="text" name = "title" placeholder="제목을 입력하세요" >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label" for="location">장소</label>
            <div class="col-lg-11 col-sm-12">
            <select class="form-control" id="location" name="location">
                <option selected disabled hidden>장소를 선택하세요.</option>
                <option value="남서울대 다목적구장">남서울대 다목적구장</option>
                <option value="남서울대 축구장">남서울대 축구장</option>
                <option value="천안축구센터">천안축구센터</option>
                <option value="단국대 축구장">단국대 축구장</option>
                <option value="단국대 풋살구장">단국대 풋살구장</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label mr-0 pr-0" for="time_from">시작시간</label>
            <div class="col-lg-4 col-sm-12">
            <input id="time_from" name = "time_from" class="form-control" type="text" autocomplete="off" readonly>
            </div>
            <label class="col-lg-1 col-sm-12 col-form-label mr-0 pr-0" for="time_to">종료시간</label>
            <div class="col-lg-4 col-sm-12">
            <input id="time_to" name = "time_to" type="text" class="form-control" autocomplete="off" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label mr-0 pr-0" for="number">모집인원</label>
            <div class="col-lg-11 col-sm-12">
            <input id="number" class="form-control" type="number" name = "number" placeholder="모집인원을 입력하세요">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label" for="rank">실력</label>
            <div class="col-lg-11 col-sm-12">
            <select class="custom-select" id="rank" name="rank">
                    <option selected disabled hidden>참가자들의 실력을 선택하세요.</option>
                    <option value="상">상</option>
                    <option value="중상">중상</option>
                    <option value="중">중</option>
                    <option value="중하">중하</option>
                    <option value="하">하</option>
            </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-1 col-sm-12 col-form-label" for="content">내용</label>
            <div class="col-lg-11 col-sm-12">
            <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용을 입력하세요"></textarea>
            </div>
        </div>

        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-1 bd-highlight">
                <button type="button" class="btn btn-secondary"><a class="text-decoration-none text-white" href="{% url 'personal' %}">돌아가기</a></button>
            </div>
            <div class="p-1 bd-highlight">
                    <button type="reset" class="btn btn-secondary">초기화</button>
            </div>
            <div class="p-1 bd-highlight">
                    <button type="submit" class="btn btn-secondary">글쓰기</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}