{% extends 'base.html' %}


{% block contents %}
<script type="text/javascript">
$(document).ready(function(event) {
        $(document).on('click', '#unlike', function(event) {
          event.preventDefault();
          var pk = $(this).attr('value');
          $.ajax({
            type: 'POST',
            url: '{% url "personal_attendance" %}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrftoken }}' },
            dataType: 'json',
            success: function(response){ 
              $('#attendance_section').html(response['form']) 
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });
      });

  function check(){
    var userId = request.session.get('userId');
    var personalMatchingId = personalMatching.id;
    if (userId != personalMatchingId){
      alert("글을 작성한 사용자만 수정할 수 있습니다.");
      return false;
    }
  }
</script>
{% if error %}
<script type="text/javascript">
  var errormessage = "{{ error }}";
  alert(errormessage);
</script>
{% endif %}

{% if errormessage %}
<script type="text/javascript">
  var errormessage = "{{ errormessage }}";
  alert(errormessage);
</script>
{% endif %}

{% load staticfiles %}
<div class="personalMatching">
        <div class="container">
          <div class="row align-items-center justify-content-center mt-5" style="height:100%;">
            <img src="{% static 'logo_korean.png' %}" alt="logo" class="src mr-4" width="170px" style="vertical-align: middle;">
            <span class="align-middle mt-2" style="font-family: 'Do Hyeon'; font-size: 45px; color:blanchedalmond;">개인매칭</span>
          </div>
          <div class="row align-items-center">
            <p class="text-center col-12 float-center" style="font-family: 'Noto Sans KR'; color:white; font-size: 20px;">같이 축구하거나 풋살할 사람을 구합니다!</p>  
          </div>
        </div>
      </div>
      
      <div class="between">
        <div class="container">
          <div class="row">
            <span class="col-md-6 col-12 text-center">Play Football Make Peace</span>
            <span class="col-md-6 col-12 text-center">풋볼러버 > 개인매칭 > 자세히 보기</span>
          </div>
        </div>
      </div>
      <hr>


<div class="container mt-4 mb-4 pl-4 pr-4">
<div class="row border rounded overflow-hidden shadow-sm p-4">
  <div class="col-md-7 col-12">
    <table class="table">
        <thead>
          <tr class="row">
            <th colspan="2" class="col-12">
                <strong class="d-inline-block mb-2 text-primary">개인매칭</strong>
                <h1 style="margin-top: 0.5rem"><strong>{{personalMatching.title}}</strong></h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td colspan="2" class = "col-12">
              <h2 class="bg-info" style="text-align:center; padding:10px; font-family: 'Nanum Gothic'; font-weight:bold;">모집정보</h2>
            </td>
          </tr>
          <tr class="row">
              <th scope="row" class="col-4">주최자</th>
              <td style="text-align: left;" class="col-8">
              {{personalMatching.user}}    
              </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">시간</th>
            <td style="text-align: left;" class="col-8">
              {% autoescape on %}
                {{personalMatching.time_from|date:"Y년 m월 d일 H:i"}}      -
            {{personalMatching.time_to|date:"H:i"}}</td>
            {% endautoescape %}
          </tr>
          <tr style="text-align: left;" class="row">
            <th scope="row" class="col-4">장소</th>
            <td colspan="3" class="col-8" style="text-align: left;">
                <span>{{personalMatching.location}}</span>
            </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">모집인원</th>
            <td colspan="3" style="text-align: left;" class="col-8">
                <span>{{personalMatching.number}}명</span>
            </td>
          </tr>
          <tr class="row">
            <th scope="row" class="col-4">실력</th>
            <td colspan="3" style="text-align: left;" class="col-8">
              <span>{{personalMatching.rank}}</span>
            </td>
          </tr>
        
         
        </tbody>
      </table>
    </div>
    <div class="col-md-5 col-12 ml-0" style="border-left:silver 2px solid;">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-12">
                  <strong class="d-inline-block mb-2 text-primary ml-3">참여인원</strong>
                  <div id="#attendance_section" style="display: flex; flex-direction: column; justify-content:center;">
                      <!-- <form action="{% url 'personal_attendance' %}" method="POST">
                        {% csrf_token %}
                        <button style="margin: 10px;" type="button" class="btn btn-outline-primary">참여인원: {{ total_attendance }}</button>
                        {% if is_liked %}
                        <button type = "submit" style="margin: 10px; margin-top: 20%;" class ="btn btn-primary" id = "attendance" 
                        name="personal_id" value="{{personalMathcing.id}}">참가 취소</button>
                        {% else %}
                        <button type = "submit" style="margin: 10px; margin-top: 20%;" class ="btn btn-primary" id = "attendance" 
                        name="personal_id" value="{{personalMathcing.id}}">참가하기</button>
                        {% endif %}
                        
                      </form> -->
                    {% include 'personal_attendance.html' %}
                  </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                   <strong class="d-inline-block mb-2 text-primary">참여인원</strong><br>
                   {% for person in attendance %}
                   <button class="btn btn-primary">
                     <a class="text-white text-decoration-none" href="{% url 'myPage' person.id %}">{{ person }}</a></button>
                   {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <strong class="d-inline-block mb-2 text-primary">내용</strong>
                    <p>{{personalMatching.content}}</p>
                </td>
            </tr>
          </tbody>
          </table>
          <hr>
          <div class="align-items-end">
            <a href="{% url 'personal' %}"><button type="button" class="btn btn-primary col-3">목록으로</button></a>
            <a href="{% url 'personal_editForm' personalMatching.id %}"><button onclick="check()" type="button" class="btn btn-primary col-3">수정하기</button></a>
            <a href="{% url 'personal_delete' personalMatching.id %}"><button onclick="return deletePC()" type="button" class="btn btn-primary col-3">삭제하기</button></a>
          </div>
    </div>
      
      
    </div>


  <!-- 댓글 등록하기 -->
  <hr>
  <h4>댓글 {{personalMatching.total_comment}}개</h4>
  <div class="container" style="margin:0;">
    <div class="row">
    {% if commenterror %}
      <ul>
      {% for error in commenterror %}
        <li><div class="alert alert-primary">{{ error }}</div></li>
      {% endfor %}
      </ul>
    {% endif %}
      <div class="col-1">
        <img style="border-radius: 70px;" width="40px" height="40px" src="{{ fnsuser.userimg.url }}">
      </div>
      <div class="d-block d-lg-none d-md-none" style="margin-left: 30px; padding-top: 8px;">
        <span><strong>{{fnsuser.name}}</strong></span>
      </div>
      <div class="col-lg-9 col-sm-12">
      <form method="post" action="{% url 'personalcm_write' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
        <div class="form-group">
          <textarea class="form-control" name="content" rows="1" placeholder="댓글을 입력하세요"></textarea>
        </div>
      </div>
        <div class="col-lg-2 col-sm-12 col-md-12">
          <div class="form-group float-right">
            <button type="submit" class="btn btn-outline-primary">등록</button>
            <button type="reset" style="margin-right: 5px;" class="btn btn-outline-primary">취소</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr style="margin-top:0;">

  <!-- 댓글 목록 -->
  <div class="container">
    {% for comment in comments %}
    <!-- 댓글 대댓글 전체 래핑 -->
    <div class="commentWrapper">
      <!-- 댓글 래퍼 -->
      <div class="wrapper">
        <!-- 상세 댓글 -->
        <div class="row detail">
          <div class="col-sm-1 col-2">
            <a href="{% url 'myPage' comment.user.id %}">
            <img class="float-right" style="margin-left:10px; border-radius: 70px;" width="35px" height="35px" src="{{ comment.user.userimg.url }}">
            </a>
          </div>
          <div id = "{{comment.id}}" class="col-sm-10 col-9">
            <h6 class="media-heading user_name">
            <strong>{{ comment.user }}</strong> 
            | {{comment.passedTime}}
            </h6>
            <h6>{{ comment.content }}</h6>
          </div>
          <div class="btn-group col-1">
            <button type="button" class="btn btn-light dropdown-toggle" style="color:white !important; border:none !important; background-color: white !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-caret-square-down" style="color: black !important;"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              {% if comment.user == fnsuser %}
                <button class="dropdown-item edit" type="button">수정</button>
                <a href ="{% url 'deletePC' comment.id%}" onclick="return deletePC()"><button class="dropdown-item" type="button" id="deletePC">삭제</button></a>
              {% endif %}
              {% if comment.reply.all.count == 0 %}
              <button class="dropdown-item reply" type="button">답글 달기</button>
              {% else %}
              <button class="dropdown-item reply" type="button">답글 {{comment.reply.all.count}}개</button>
              {% endif %}
              <button class="dropdown-item allReplyCancel" type="button">답글 닫기</button>
            </div>
          </div>
        </div>
        <!-- 상세 댓글 끝 -->

        <!-- 댓글 수정 폼 -->
        <div class="row editForm">
          <div class="col-sm-1 col-2">
            <img class="float-right" style="border-radius: 70px;" width="40px" height="40px" src="{{ comment.user.userimg.url }}">
          </div>
          <div id = "{{comment.id}}" class="col-sm-9 col-10">
            <form method="post" action="{% url 'editPC' comment.id %}" enctype="multipart/form-data" class="col-lg-12 col-md-10">
            {% csrf_token %}
              <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
              <div class="form-group row">
                <textarea class="form-control" name="content" rows="1" placeholder="댓글을 수정하세요"></textarea>
              </div>
            </div>
            <div class="col-sm-2 col-12">
              <div class="form-group float-right">
                <button type="submit" class="btn btn-outline-primary">수정</button>
                <button type="button" style="margin-right: 5px;" class="btn btn-outline-primary cancel">취소</button>
              </div>
            </form>
          </div> 
        </div>
        <!-- 댓글수정폼 끝 -->
      <hr style="margin-top:0.5rem;">
      </div>
      <!-- 댓글래퍼 끝 -->

    <!-- 답글 -->
    <div class="replyAll" id="test1">
      <!-- 답글쓰기 -->
      <div class="row writeReply" id = write>
        <div class="col-md-1 col-3">
            <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
        </div>
        <div class="col-1">
          <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ fnsuser.userimg.url }}">
        </div>
        <div class="col-8" style="margin-left:0; padding-left:0; margin-right: 0; padding-right: 0;">
          <form method="post" action="{% url 'personalReply_write' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <div class="form-group col-12">
              <textarea class="form-control" name="content" rows="1" placeholder="답글을 입력하세요"></textarea>
            </div>
        </div>
          
        <div class="form-group col-md-2 col-12">
          <button type="reset" class="float-right btn btn-outline-primary">취소</button>    
          <button type="submit" style="margin-right: 5px;" class="btn btn-outline-primary float-right">등록</button>
        </div>
          </form>
      </div>
      <hr style="margin-top: 0;">
      <!-- 답글쓰기 끝 -->

      <!-- 답글 목록 -->
      {% for reply in comment.reply.all %}
      
      <div class="replyWrapper" id = replyWrapper>
      <!-- replyDetail -->
        <div class="row replyDetail">
          <div class="col-md-1 col-3">
              <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
          </div>
          <div class="col-1">
              <a href="{% url 'myPage' reply.user.id %}">
                <img class="float-right" style="border-radius: 70px;" width="40px" height="40px" src="{{ reply.user.userimg.url }}">
              </a>
          </div>
          <div class="col-md-9 col-7">
            <h6 class="media-heading user_name">
            <strong>{{ reply.user }}</strong> 
            | {{reply.passedTime}}
            </h6>
            <h6>: {{ reply.content }}</h6>
          </div>
          {% if reply.user == fnsuser %}
          <div class="btn-group col-1">
            <button type="button" class="btn btn-light dropdown-toggle" style="color:white !important; border:none !important; background-color: white !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-caret-square-down" style="color: black !important;"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item replyEdit" type="button">수정</button>
              <a href ="{% url 'deletePersonalReply' reply.id%}" onclick="return deletePC()"><button class="dropdown-item" type="button" id="deletePC">삭제</button></a>
            </div>
          </div>
          {% endif %}
        </div>
        
        <!-- replyDetail 끝 -->

        <!-- replyEditForm -->
        <div class="row replyEditForm">
          <div class="col-md-1 col-3">
              <i class="fas fa-arrow-alt-circle-right float-right" style="width:35px; height:35px; padding-top:10px;"></i>
          </div>
          <div class="col-1">
            <img class="float-right" style="border-radius: 70px;" width="30px" height="30px" src="{{ reply.user.userimg.url }}">
          </div>
          <div class="col-8" style="margin-left:0; padding-left:0; margin-right: 0; padding-right: 0;">
            <form method="post" action="{% url 'editPersonalReply' reply.id %}" enctype="multipart/form-data">
            {% csrf_token %}
              <input type="hidden" name="personalMatching_id" value="{{ personalMatching.id }}">
                
              <div class="form-group col-12">
                <textarea class="form-control" name="content" rows="1" placeholder="답글을 수정하세요"></textarea>
              </div>
          </div>
          <div class="col-md-2 col-12 ">
            <div class="form-group float-right">
              <button type="submit" class="btn btn-outline-primary">수정</button>
              <button type="reset"class="btn btn-outline-primary">취소</button>
            </div>
            </form>
          </div>  
        </div>
        <!-- replyEditForm 끝 -->
       
      </div>
      <hr>
      {% endfor %}
      <!-- 답글 래퍼 끝 -->
      <!-- 답글 목록 끝 -->
    </div>
    
  </div>
  <!-- commentWrapper 끝 -->

      <!--답글 끝  -->
    {% endfor %}
  </div>
    
</div>
<script type="text/javascript">
function deletePC(){
  var returnValue = confirm('삭제하시겠습니까?');
  return returnValue;
}

$('.edit').click(function(){
  $(this).parent().parent().parent().parent().addClass("editToggle");
})

$('.cancel').click(function(){
  $(this).parent().parent().parent().parent().removeClass("editToggle");
})

$('.replyEdit').click(function(){
  $(this).parent().parent().parent().parent().addClass("replyEditToggle");
})

$('.replyCancel').click(function(){
  $(this).parent().parent().parent().parent().removeClass("replyEditToggle");
})

$('.reply').click(function(){
  $(this).parent().parent().parent().parent().parent().children('.replyAll').addClass("replyToggle");
  $(this).parent().addClass("replyButton");
  // var id = $(this).parent().parent().parent().parent().parent().children('.replyAll').children('.replyWrapper').attr('id');
  // alert(id);
})

$('.allReplyCancel').click(function(){
  $(this).parent().parent().parent().parent().parent().children('.replyAll').removeClass("replyToggle");
  $(this).parent().removeClass("replyButton");
})
</script>

{% endblock %}