{% load static %}
<style>
     /* Dropdown Button */
     .dropbtn {
        cursor: pointer;
    }
    
    
    /* The container <div> - needed to position the dropdown content */
    .alarmDropdown {
        position: relative;
        display: inline-block;
        float: right;
        
    }
    
    /* Dropdown Content (Hidden by Default) */
    .alarmDropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 350px;
        max-width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right:0;
    }
    
    /* Links inside the dropdown */
    .alarmDropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }
    
    /* Change color of dropdown links on hover */
    .alarmDropdown-content a:hover {background-color: #ddd}
    
    .alarm{
        background-color: rgb(191, 214, 252);
        text-overflow: ellipsis;
    }

</style>
<script language="javascript">
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */

</script>

<div class="alarmDropdown" onmouseover="alarm();" onmouseleave = "alarmOut();">
  {% if countNotification > 0 %}
    <span class="bellNum p1 fa-stack has-badge" data-count="{{countNotification}}">
    <i class="p3 far fa-2x fa-bell fa-stack-1x xfa-inverse dropbtn" data-count="{{countNotification}}"
    style="z-index: 0; color: gray; border-radius: 70px; width: 35px; height: 35px; 
    margin-top: 7px;"></i>
    </span>
  {% else %}
    <i id="dropdownMenuButton" 
    class="bell far fa-2x fa-bell dropbtn" style="z-index: 0; 
    color: gray; border-radius: 70px; width: 35px; height: 35px;
    text-align: center;"></i>
  {% endif %}
        <div id="alarmContent" class="alarmDropdown-content" style="margin-top: 20px;">
          <div class="pl-3" style="border-bottom: black 1px solid;">
            <span style="font-size: 15px; font-weight: bold; color: cornflowerblue;" class="mr-3">알림</span>
            <button class="p-2 m-1 btn" onclick="return checkAllNotification()" style="background-color:lightgrey; font-size: 12px; font-weight: bold; color: black;">모두 읽은 상태로 표시</button>
          </div>
          {% if not notificationList  %}
            <p class = "dropdown-item">알람이 없습니다.</p>
          {% else %}
          {% for alarm in notificationList %}
          <!-- 알람creator가 자신이면 안보이게. -->
          {% if alarm.creator != fnsuser %}
            <!-- 확인을 했다면. -->
            {% if alarm.userCheck %}
              <!-- 알람 종류 -->
              {% if alarm.notification_type == "prComment" %}
              <a href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "teamComment" %}
              <a href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>
            
              {% elif alarm.notification_type == "recruitingComment" %}
              <a href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
            
              {% elif alarm.notification_type == "leagueComment" %}
              <a href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "personalApply" %}
              <a href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamMatchingApply" %}
              <a href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "recruitingApply" %}
              <a href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "recruitingAccepted" %}
              <a href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "leaguePersonalApply" %}
              <a href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "leagueTeamApply" %}
              <a href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "joinTeam" %}
              <a href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamAccepted" %}
              <a href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "personalReply" %}
              <a href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamReply" %}
              <a href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "recruitingReply" %}
              <a href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "leagueReply" %}
              <a href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "recruitingDenied" %}
              <a href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamApplicationDenied" %}
              <a href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "suggestTeamMatching" %}
              <a href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "acceptSuggestion" %}
              <a href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "resultInput" %}
              <a href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "resultEdit" %}
              <a href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "resultConfirm" %}
              <a href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>
             
              {% endif %}

            <!-- 확인을 안했다면 -->
            {% else %}
              <!-- 알람종류 -->
              {% if alarm.notification_type == "prComment" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "teamComment" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>
            
              {% elif alarm.notification_type == "recruitingComment" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
            
              {% elif alarm.notification_type == "leagueComment" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "personalApply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamMatchingApply" %}
              <div class="alarm" style="width:200px; text-overflow: ellipsis; max-width: 300px;">
              <a class="alarm" style="text-overflow: ellipsis;" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'teamMatching_detail' alarm.teamMatching.id %}"><span style="width:200px; text-overflow: ellipsis; max-width: 200px;">{{alarm.text}}</span></a>
              </div>
              {% elif alarm.notification_type == "recruitingApply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "recruitingAccepted" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "leaguePersonalApply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "leagueTeamApply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "joinTeam" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamAccepted" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "personalReply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'personalDetail' alarm.personalMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamReply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "recruitingReply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "leagueReply" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'league_detail' alarm.league.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "recruitingDenied" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'recruiting_detail' alarm.recruiting.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "teamApplicationDenied" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "suggestTeamMatching" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'detail' alarm.team.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "acceptSuggestion" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'teamMatching_detail' alarm.teamMatching.id %}">{{alarm.text}}</a>
              
              {% elif alarm.notification_type == "resultInput" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "resultEdit" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>

              {% elif alarm.notification_type == "resultConfirm" %}
              <a class="alarm" onclick="return checkNotification('{{alarm.id}}');" href="{% url 'decidedDetail' alarm.teamMatching.decidedMatch.id %}">{{alarm.text}}</a>

              {% endif %}
              <!-- 알람종류 끝 -->
            {% endif %}
            <!-- 확인 여부 끝 -->
          {% endif %}
          <!-- creator 자기인지 여부 끝 -->
        {% endfor %}
        <!-- for문 끝 -->
      {% endif %}
      <!-- notification 있는지 여부 끝 -->
      <!-- 페이지네이션 시작 -->
      <div style="border-top:black 1px solid;" class="pt-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center d-flex" style="display:inline-block;">
            {% if notificationList.has_previous %}
            <li class="page-item" style="display:inline;">
              <a class="page-link" style ="display:inline-block;" href="?page=1" style ="display:inline-block;" tabindex="-1" aria-disabled="true">처음으로</a>
            </li>
            <li class="page-item" style ="display:inline-block;">
              <a class="page-link" style ="display:inline-block;" href="?page={{notificationList.previous_page_number}}" tabindex="-1" aria-disabled="true">{{notificationList.previous_page_number}}</a>
            </li>
            {% endif %}
            <li class="page-item disabled" style ="display:inline-block;"><a class="page-link" style ="display:inline-block;" href="#">{{notificationList.number}}</a></li>
            {% if notificationList.has_next %}
            <a class="page-link" style ="display:inline-block;" href="?page={{notificationList.next_page_number}}">{{notificationList.next_page_number}}</a>
            <a class="page-link" style ="display:inline-block;" style="display:inline;" href="?page={{notificationList.paginator.num_pages}}">마지막으로</a>
            {% endif %}
          </ul>
        </nav>
      </div>
      <!-- 페이지네이션 끝 -->
    </div>
    <!-- dropdown content 끝 -->
  </div>
  <!-- alarm dropdown 끝 -->