{% load static %}
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12">
            <a href="#"><img src="{% static 'KoreanLogo.png' %}" alt="logo" class="src mr-4" width="170px"></a>
        </div>
        <div class="col-md-9 col-12">
            <p>문의 | fbloverofficial@gmail.com</p>
            <p>상호명 | 풋볼러버 Football Lover | 사업자번호 | 419-25-00866</p>
            <p>[우:31020] 충청남도 천안시 서북구 성환읍 대학로 91 창업동아리관 4층 4204호(남서울대학교) | Tel 010-5050-9042</p>
        </div>
      </div>
    </div>
      
    
  </footer>