{% load static %}
<style>
  .navBar{
    background-color: #F3F3F3;
    height: 50px;
    
  }

  .navDesign{
    max-width: 720px;
    width: 100%;
    padding:10px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
  }

  .logo{
    width: 177px;
    vertical-align: middle;
  }

  .menu{
    padding-top: 6px;
    padding-right: 10px;
    float:right;
    color:gray;
  }

  .bell{
    color:rgba(128, 128, 128, 0.808);
    margin-top: 8px;
    margin-left: 10px;
  
  }

  .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:0px;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:2em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 2em;
    font-weight:bold;
  }

</style>
<nav class="navBar sticky-top">
  <div class="navDesign">
    <div style="width: 20%;">
      {% if countNotification > 0 %}
      <a href="{% url 'notification' %}">
        <span class="bellNum p1 fa-stack has-badge" data-count="{{countNotification}}">
          <i class="p3 far fa-lg fa-bell fa-stack-1x xfa-inverse" data-count="{{countNotification}}"></i>
        </span>
      </a>
      {% else %}
      <a href="{% url 'notification' %}">
        <i class="bell far fa-lg fa-bell" style="z-index: 0;"></i>
      </a>
      {% endif %}
    </div>
    <div style="width: 60%;" class="d-flex justify-content-center">
      <a href="{% url 'home' %}">
        <img src="{% static 'account/logofile/oneLineLogo.png' %}" class="logo">
      </a>
    </div>
    <div style="width: 20%;">
      <a href="{% url 'menu' %}">
        <i class="menu fas fa-lg fa-bars"></i>
      </a>
    </div>

  </div>

</nav>

  
<!--
<span class="fa-stack"> 
  <i class=" bell fa fa-bell fa-stack-1x"></i> 
  <i class="fas fa-square fa-stack-lg"></i>
</span>

   {% if notificationList %}
    <span class="bellNum p1 fa-stack has-badge" data-count="">
      <i class="p3 far fa-lg fa-bell fa-stack-1x xfa-inverse" data-count="4b"></i>
    </span>
    {% else %}
    <i class="bell far fa-lg fa-bell" style="z-index: 0;"></i>
    {% endif %}
-->