{% extends 'base.html' %}

{% block contents %}
{% if message %}
<script type="text/javascript">
var message = "{{message}}"
alert(message);
</script>
{% endif %}

<script>
var i = 0;
</script>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ team.teamimg.url }}" class="card-img" alt="teamimg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">팀이름: {{team.name}}</h3>
          <p class="card-text">{{team.introduction}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">이름</th>
      <th scope="col">활동지역</th>
      <th scope="col">학교</th>
      <th scope="col">출전수</th>
      <th scope="col">득점수</th>
      <th scope="col">득점률</th>
      <th scope="col">수락여부</th>
    </tr>
    {% if not applied_members %}
    <tr>
      <td colspan="8">가입신청을 한 사람이 없습니다.</td>
    </tr>
    {% endif %}
  </thead>
    <tbody>
      {% for player in applied_members %}
      <tr>
        <th scope="row"><strong>
          <script>
            i += 1;
            document.write(i)
          </script>
          </strong></th>
        <td> {{ player.name }} </td>
        <td> {{ player.city }} </td>
        <td> {{ player.school }} </td>
        <td> {{ player.matchcount }} </td>
        <td> {{ player.score }} </td>
        <td> 
        <script type="text/javascript">
          var matchcount = "{{player.matchcount}}";
          var score = "{{player.score}}";
          var winningrate = score / matchcount;
          if (isNaN(winningrate)){
            winningrate = 0;
          }
          document.write(winningrate.toFixed(2));
        </script>  
        </td>
        <td>
            <a class="btn btn-dark float-right" href="{% url 'approve' team.id player.id %}" role="button">가입수락</a>            
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="btn btn-dark float-right" href="{% url 'team' %}" role="button">목록가기</a>

{% endblock %}