{% extends 'base.html' %}

{% block contents %}
{% if message %}
<script type="text/javascript">
var message = "{{message}}"
alert(message);
</script>
{% endif %}

    
<script>
var i = 0;
</script>

{% load staticfiles %}
<div class="team">
  <div class="container">
    <div class="row align-items-center justify-content-center mt-5" style="height:100%;">
      <img src="{% static 'onlyLogo.png' %}" alt="logo" class="src mr-4" width="45px" style="vertical-align: middle;">
      <span class="align-middle mt-2 text-stroke" style="font-family: 'Do Hyeon'; font-size: 45px; color:blanchedalmond;">팀 검색</span>
    </div>
    <div class="row align-items-center">
      <p class="text-center col-12 float-center" style="font-family: 'Noto Sans KR'; color:black; font-size: 20px;">등록되어 있는 팀을 확인하고 가입신청 혹은 매치신청을 할 수 있습니다.</p>  
    </div>
  </div>
</div>

<div class="between">
  <div class="container">
    <div class="row">
      <span class="col-md-6 col-12 text-center">Play Football Make Peace</span>
      <span class="col-md-6 col-12 text-center">풋볼러버 > Team > 팀 페이지</span>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4 mb-4">
<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ team.teamimg.url }}" class="card-img" alt="teamimg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><strong>팀이름:</strong> {{team.name}}</h3>
          <hr>
          <p class="card-text">{{team.introduction}}</p>
          {% autoescape on %}
          <p class="card-text float-right align-bottom"><small class="text-muted">{{team.created|date:"Y년m월d일"}}</small></p>
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>

<table class="table mb-0 tableControl">
  <thead class="thead-dark">
    <tr class="row">
      <th scope="col" class="text-center col-1">#</th>
      <th scope="col" class="text-center col-md-2 col-3">이름</th>
      <th scope="col" class="text-center col-md-2 col-4">대표</th>
      <th scope="col" class="text-center col-md-2 col-4">활동지역</th>
      <th scope="col" class="text-center col-md-2 col-4">학교</th>
      <th scope="col" class="text-center col-md-1 col-2">출전수</th>
      <th scope="col" class="text-center col-md-1 col-3">득점수</th>
      <th scope="col" class="text-center col-md-1 col-3">득점률</th>
    </tr>
  </thead>
    <tbody>
      {% for player in members %}
      <tr class="row">
        <th scope="row" class="text-center col-1"><strong>
          <script>
            i += 1;
            document.write(i)
          </script>
          </strong></th>
        <td class="text-center col-md-2 col-3"> {{ player.name }} </td>
        <td class="text-center col-md-2 col-4">
            {% if player == team.teamleader %}
              <p>팀대표</p>
            {% else %}
              <p>일반멤버</p>
            {% endif %}
            </td>
        <td class="text-center col-md-2 col-4">{{ player.city }} </td>
        <td class="text-center col-md-2 col-4"> {{ player.school }} </td>
        <td class="text-center col-md-1 col-2"> {{ player.matchcount }} </td>
        <td class="text-center col-md-1 col-3"> {{ player.score }} </td>
        <td class="text-center col-md-1 col-3"> 
        <script type="text/javascript">
          var matchcount = "{{player.matchcount}}";
          var score = "{{player.score}}";
          var winningrate = score / matchcount;
          if (isNaN(winningrate)){
            winningrate = 0;
          }
          document.write(winningrate.toFixed(2));
        </script>  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <form action="{% url 'changeCaptain' team.id %}" method="POST" class="mt-1 row" id="changeCaptain"> 
    {% csrf_token %}
    <div class="input-group col-12">
      <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name = "captain">
        <option selected hidden>주장을 선택해주세요.</option>
        {% for player in members %}
        <option value="{{player.id}}">{{player.name}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">주장 변경</button>
      </div>
    </div>
  </form>


  <div class="row justify-content-end mb-5 mt-3">
    {% if fnsuser == team.teamleader %}
    <button class="btn btn-dark float-right mb-2" style="margin-right: 5px;" id = "changeBtn" role="button">팀 주장 변경</button>
    <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'applied_list' team.id %}" role="button">가입신청현황</a>
    <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'editForm' team.id %}" role="button">팀 수정하기</a>
    {% endif %}
    {% if is_member %}
    <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'suggestList' team.id %}" role="button">매치신청현황</a>
    <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'dropout' team.id %}" role="button">팀탈퇴하기</a>
    {% elif is_applied %}
    <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'cancelApplication' team.id %}" role="button">가입신청취소</a>
    {% else %}
      {% if fnsuser.teamname %}
        <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'suggestTeamMatching' team.id %}" role="button">매치신청</a>
      {% else %}
        <a class="btn btn-dark float-right mb-2" style="margin-right: 5px;" href="{% url 'application' team.id %}" role="button">팀가입신청</a>
      {% endif %}
    
    {% endif %}
    <a class="btn btn-dark float-right mb-2" href="{% url 'team' %}" role="button">목록가기</a>
  </div>
</div>

<script type="text/javascript">
$('#changeBtn').click(function(){
  $(this).parent().parent().addClass("captain");
})
$('.edit').click(function(){
  $(this).parent().parent().parent().parent().addClass("editToggle");
})

$('.cancel').click(function(){
  $(this).parent().parent().parent().parent().removeClass("editToggle");
})
</script>

{% endblock %}