
    *{
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    /* 득점순위 눌렀을 때 */
    .goalAverage > .scoreRank{
        display:none;
    }
    
    .goalAverage > .gaRank{
        display: block;
    }
    
    .gaRank{
        display:none;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a.alram:hover{
        background-color:peru !important;
        text-decoration: none;
    }
    .alarm{
        background-color: #EDF2F9;
    }
    
    @media all and (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 2rem;
        }
    
        table, td, th{
            text-align: left;
        }
    
    }
   

    @media all and (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 2rem;
        }
    
        table, td, th{
            text-align: left;
        }
    
        .label{
            margin-top: 8px;
            margin-left:5px;
            }
        
        }
    
    .team{
        background-image: url("{% static 'team.png' %}");
        padding-top:20px;
        background-size: 100% 100%;
        height: 300px;
        vertical-align: middle;
    }

    #changeCaptain{
        display:none;
    }
    .captain > #changeCaptain{
        display:block;
    }
    .rank{
        background-image: url("{% static 'rank.png' %}");
        padding-top:20px;
        background-size: 100% 100%;
        height: 300px;
        vertical-align: middle;
    }
    .decidedMatch{
        background-image: url("{% static 'decidedMatch.png' %}");
        padding-top:20px;
        background-size: 100% 100%;
        height: 300px;
        vertical-align: middle;
    }
    .result{
        background-image: url("{% static 'result.png' %}");
        padding-top:20px;
        background-size: 100% 100%;
        height: 300px;
        vertical-align: middle;
    }
    .myPage{
        background-image: linear-gradient(72deg, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
        margin-top:0px;
    }
    .customerService{
        background-image: url("{% static 'customerService.png' %}");
        padding-top:20px;
        background-size: 100% 100%;
        height: 300px;
        vertical-align: middle;
    }
    .csButton {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color:#4272B4;
        color: white;
    }
    
    .csButton:hover {
        background-color: white;
        border:2px solid #4272B4;
        color: black;
    }
    